{% extends "modal/sm_modal.html" %}

{% block formContent %}
  <div>
    {{ form.nama.label }} {{ form.nama }}
  </div>
  
  <br />
  
  <p>Tanggal Mulai - Tanggal Selesai</p>
  <div class="grid md:grid-cols-2 gap-5">
    <div>{{ form.tgl_mulai }}</div>
    <div>{{ form.tgl_selesai }}</div>
  </div>
  
  <br />
  
  <p>Start RKT Universitas - End RKT Universitas</p>
  <div class="grid md:grid-cols-2 gap-5">
    <div>{{ form.start_rkt_univ }}</div>
    <div>{{ form.end_rkt_univ }}</div>
  </div>
  
  <br />
  
  <p>Start RKT Fakultas - End RKT Fakultas</p>
  <div class="grid md:grid-cols-2 gap-5">
    <div>{{ form.start_rkt_fakultas }}</div>
    <div>{{ form.end_rkt_fakultas }}</div>
  </div>
{% endblock formContent %}