{% extends "dashboard/layout.html" %}
<!---->
{% block content %}
  <!---->
  {% url 'kepengurusan.index' as kepengurusan_index_url %}
  {% include "dashboard/broadcrumb.html" with title="Pengurus "|add:kepengurusan.ormawa.singkatan|add:' | '|add:kepengurusan.periode.nama titleBread="Pengurus" beforeTitle="Kepengurusan" beforeTitleUrl=kepengurusan_index_url %}
  <div x-data="{ 
      isModalOpen: false, 
      pengurusEdit: {}, 
      modalTitle: '', 
      formUrl: '', 
      formBtn: '', 
      results: [],
      displayResult: {
        mahasiswa: false,
      },
      nameResult: {
        mahasiswa: {
          display: false,
          value: ''
        },
      },
      
      liveSearch(type, field) {
        csrfToken = '{{ csrf_token }}'
        fetch(`/api/${type}/search`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrfToken
          },
          body: JSON.stringify({
              data: {
                query: this.pengurusEdit[field],
              }
          })
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            this.nameResult[field].display = false;
            console.log(data);
            this.results = data;
            for (key in this.displayResult) {
              if (key === field) {
                this.displayResult[key] = true;
              } else {
                this.displayResult[key] = false;
              }
            }                
        })
        .catch(error => {
            console.error('Fetch error:', error);
            for (key in this.displayResult) {
              this.displayResult[key] = false;
            }
        });
      },

      selectResult(id, field) {
        this.pengurusEdit[field] = this.results[id].code;
        this.displayResult[field] = false;
        this.nameResult[field].display = true;
        this.nameResult[field].value = this.results[id].nama;
      }
    }"
       class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
    {% if allowModify %}
      <div class="px-4 py-6 md:px-6 xl:px-7.5 flex justify-between">
        <div>
          <button id="modalOpen"
                  x-on:click="
                    formUrl = '{% url "pengurus.create" 0%}'; 
                    formBtn = 'Create'; 
                    isModalOpen = true; 
                    modalTitle = 'Create Pengurus'; 
                    pengurusEdit = { 
                      mahasiswa: '', 
                      idStruktur: '', 
                    }; "
                  class="inline-flex items-center justify-center rounded-md bg-primary px-10 py-2 text-center font-medium text-white hover:bg-opacity-90 lg:px-8 xl:px-10">
            Create
          </button>
        </div>
      </div>
    {% endif %}
    <div class="grid grid-cols-6 border-t border-stroke px-4 py-4.5 dark:border-strokedark sm:grid-cols-8 md:px-6 2xl:px-7.5">
      <div class="col-span-2 hidden items-center sm:flex">
        <p class="font-medium">NIM</p>
      </div>
      <div class="col-span-3 hidden items-center sm:flex">
        <p class="font-medium">Nama Mahasiswa</p>
      </div>
      <div class="col-span-2 hidden items-center sm:flex">
        <p class="font-medium">Sktruktur</p>
      </div>
    </div>
    {% for p in pengurus %}
      <div class="grid grid-cols-6 border-t border-stroke px-4 py-4.5 dark:border-strokedark sm:grid-cols-8 md:px-6 2xl:px-7.5">
        <div class="col-span-2 flex items-center">
          <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
            <p class="text-sm font-medium text-black dark:text-white">{{ p.mahasiswa.nim }}</p>
          </div>
        </div>
        <div class="col-span-3 flex items-center">
          <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
            <p class="text-sm font-medium text-black dark:text-white">{{ p.mahasiswa.nama }}</p>
          </div>
        </div>
        <div class="col-span-2 flex items-center">
          <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
            <p class="text-sm font-medium text-black dark:text-white">{{ p.struktur }}</p>
          </div>
        </div>
        {% if allowModify %}
          <div class="flex gap-5">
            <button x-on:click=" 
                formUrl = '{% url "pengurus.edit" p.id %}'; 
                formBtn = 'Save'; 
                isModalOpen = true; 
                modalTitle = 'Edit Pengurus'; 
                pengurusEdit = { 
                  mahasiswa: '{{ p.mahasiswa.nim }}', 
                  idStruktur: {{ p.struktur.id }}, 
                }; ">
              <i class="fa-solid fa-pen"></i>
            </button>
            <form action="{% url 'pengurus.delete' p.id %}" method="post">
              {% csrf_token %}
              <button type="submit">
                <i class="fa-solid fa-trash"></i>
              </button>
            </form>
          </div>
        {% endif %}
      </div>
    {% endfor %}
    {% include "pengurus/partials/pengurus_modal.html" %}
  </div>
{% endblock content %}
