<div x-data="{ accordionOpen2: true }" @click.outside="accordionOpen2 = false" class="rounded-md border border-stroke p-4 shadow-9 dark:border-strokedark dark:shadow-none md:p-6 xl:p-7.5">
  <button @click="accordionOpen2 = !accordionOpen2" class="flex w-full items-center justify-between gap-2">
    <div>
      <h4 class="text-left text-title-xsm font-bold text-black dark:text-white sm:text-title-md">
        Panitia
      </h4>
    </div>

    <div class="flex h-9 w-9 items-center justify-center rounded-full border border-primary dark:border-white">
      <svg :class="accordionOpen2 &amp;&amp; 'hidden'" class="fill-primary dark:fill-white"  width="15" height="15" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
        <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/>
      </svg>

      <svg :class="accordionOpen2 === true ? 'block' : 'hidden'" class="fill-primary dark:fill-white hidden" width="15" height="3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
        <path d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z"/>
      </svg>
    </div>
  </button>

  <div x-show="accordionOpen2" class="mt-5 duration-200 ease-in-out" style="display: none;">
    <div x-data="{ 
      'isModalOpen': false, 
            panitiaEdit: {}, 
            modalTitle: '', 
            formUrl: '', 
            formBtn: '', 
            switcherToggle: false,
            results: [],
          displayResult: {
            mahasiswa: false,
          },

          nameResult: {
            mahasiswa: {
              display: false,
              value: ''
            },
          },
          
          liveSearch(type, field) {
            csrfToken = '{{ csrf_token }}'
            fetch(`/api/${type}/search`, {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken
              },
              body: JSON.stringify({
                  data: {
                    query: this.panitiaEdit[field],
                  }
              })
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                this.nameResult[field].display = false;
                console.log(data);
                this.results = data;
                for (key in this.displayResult) {
                  if (key === field) {
                    this.displayResult[key] = true;
                  } else {
                    this.displayResult[key] = false;
                  }
                }                
            })
            .catch(error => {
                console.error('Fetch error:', error);
                for (key in this.displayResult) {
                  this.displayResult[key] = false;
                }
            });
          },

          selectResult(id, field) {
            this.panitiaEdit[field] = this.results[id].code;
            this.displayResult[field] = false;
            this.nameResult[field].display = true;
            this.nameResult[field].value = this.results[id].nama;
          }
        }"
       class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
       <div class="px-4 py-6 md:px-6 xl:px-7.5 flex justify-between">
        <div>
          <input type="text"
                 placeholder="Search"
                 x-model="input_filter"
                 class="w-1/4 rounded-lg border-[1.5px] border-stroke bg-transparent px-5 py-2 font-normal text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary" />
          <a href="#"
             class="inline-flex items-center justify-center rounded-md border border-primary px-10 py-2 text-center font-medium text-primary hover:bg-opacity-90 lg:px-8 xl:px-10">
            Filter
          </a>
        </div>
        <div>
          <button id="modalOpen"
                  x-on:click="
                      formUrl = '{% url "panitia.create" proposalID %}?menu=seksi-panitia'; 
                      formBtn = 'Create'; 
                      isModalOpen = true; 
                      modalTitle = 'Create Panitia'; 
                      panitiaEdit = {
                        koordinator: false
                      }; 
                      nameResult = {
                        mahasiswa: {
                          display: false,
                          value: ''
                        },
                      };
                      "
                  class="inline-flex items-center justify-center rounded-md bg-primary px-10 py-2 text-center font-medium text-white hover:bg-opacity-90 lg:px-8 xl:px-10">
            Create
          </button>
        </div>
      </div>
      <div class="grid grid-cols-6 border-t border-stroke px-4 py-4.5 dark:border-strokedark sm:grid-cols-8 md:px-6 2xl:px-7.5">
        <div class="col-span-4 hidden items-center sm:flex">
          <p class="font-medium">Nama Mahasiswa</p>
        </div>
        <div class="col-span-3 hidden items-center sm:flex">
          <p class="font-medium">Seksi</p>
        </div>
      </div>
      {% for p in panitia %}
        <div class="grid grid-cols-6 border-t border-stroke px-4 py-4.5 dark:border-strokedark sm:grid-cols-8 md:px-6 2xl:px-7.5">
          <div class="col-span-4 flex items-center">
            <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
              <p class="text-sm font-medium text-black dark:text-white">
                {{ p.mahasiswa.nama }} 
                {% if p.koordinator %}
                <p class="inline-flex rounded-full bg-warning bg-opacity-10 px-3 py-1 text-sm font-medium text-warning">Koordinator</p>
                {% else %}
                {% endif %}  
              </p>
            </div>
          </div>
          <div class="col-span-3 flex items-center">
            <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
              <p class="text-sm font-medium text-black dark:text-white">{{ p.seksi.nama }}</p>
            </div>
          </div>
          <div class="flex gap-5">
            <button x-on:click="
                  formUrl = '{% url "panitia.edit" proposalID p.id %}?menu=seksi-panitia'; 
                  formBtn = 'Save'; 
                  isModalOpen = true; 
                  modalTitle = 'Edit Panitia'; 
                  panitiaEdit = { 
                      mahasiswa: '{{ p.mahasiswa.nim }}',
                      seksi: '{{ p.seksi.id }}',
                      koordinator: {% if p.koordinator %} 'koordinator' {% else %} false {% endif %},
                      
                  }
                  switcherToggle= {% if p.koordinator %} true {% else %} false {% endif %};
                  nameResult= {
                    mahasiswa: {
                      display: true,
                      value: '{{ k.mahasiswa.nama }}'
                    },
                  };
                  
                  "
              >
              <i class="fa-solid fa-pen"></i>
            </button>
            <form action="{% url 'panitia.delete' proposalID p.id %}?menu=seksi-panitia" method="post">
              {% csrf_token %}
              <button type="submit">
                <i class="fa-solid fa-trash"></i>
              </button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% include "proposal/partials/panitia_modal.html" with form=panitiaForm %}
      </div>
    </div>
  </div>