
      <div x-data="{ 
        'isModalOpen': false, 
              pemasukanEdit: {}, 
              modalTitle: '', 
              formUrl: '', 
              formBtn: '', 
            }"
         class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
        <div class="px-4 py-6 md:px-6 xl:px-7.5 flex justify-between">
            <div>
          <input type="text"
                 placeholder="Search"
                 x-model="input_filter"
                 class="w-1/4 rounded-lg border-[1.5px] border-stroke bg-transparent px-5 py-2 font-normal text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary" />
          <a href="#"
             class="inline-flex items-center justify-center rounded-md border border-primary px-10 py-2 text-center font-medium text-primary hover:bg-opacity-90 lg:px-8 xl:px-10">
            Filter
          </a>
        </div>
            <div>
                <button id="modalOpen"
                        x-on:click="
                            formUrl = '{% url "pemasukan.create" proposalID %}?menu=pemasukan'; 
                            formBtn = 'Create'; 
                            isModalOpen = true; 
                            modalTitle = 'Create Sumber Dana Anggaran'; 
                            pemasukanEdit = { 
                                nama: '',
                                waktu_mulai: '', 
                                waktu_selesai: '', 
                                seksi: '', 
                            }; "
                        class="inline-flex items-center justify-center rounded-md bg-primary px-10 py-2 text-center font-medium text-white hover:bg-opacity-90 lg:px-8 xl:px-10">
                    Create
                </button>
            </div>
        </div>
        <div class="grid grid-cols-6 border-t border-stroke px-4 py-4.5 dark:border-strokedark sm:grid-cols-8 md:px-6 2xl:px-7.5">
            <div class="col-span-5 hidden items-center sm:flex">
                <p class="font-medium">Sumber Dana</p>
            </div>
            <div class="col-span-2 hidden items-center sm:flex">
                <p class="font-medium">Total Dana</p>
            </div>
        </div>
        {% for p in pemasukan %}
        <div class="grid grid-cols-6 border-t border-stroke px-4 py-4.5 dark:border-strokedark sm:grid-cols-8 md:px-6 2xl:px-7.5">
          <div class="col-span-5 flex items-center">
            <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
              <p class="text-sm font-medium text-black dark:text-white">{{ p.sumber_dana }}</p>
            </div>
          </div>
          <div class="col-span-2 flex items-center">
            <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
              <p class="text-sm font-medium text-black dark:text-white">{{ p.total_dana }}</p>
            </div>
          </div>
          <div class="flex gap-5">
            <button x-on:click="
                  formUrl = '{% url "pemasukan.edit" proposalID p.id %}?menu=pemasukan'; 
                  formBtn = 'Save'; 
                  isModalOpen = true; 
                  modalTitle = 'Edit Sumber Dana Anggaran'; 
                  pemasukanEdit = { 
                    sumber_dana: '{{ p.sumber_dana }}',
                    total_dana: '{{ p.total_dana }}',
                  }; ">
              <i class="fa-solid fa-pen"></i>
            </button>
            <form action="{% url 'pemasukan.delete' proposalID p.id %}?menu=pemasukan" method="post">
              {% csrf_token %}
              <button type="submit">
                <i class="fa-solid fa-trash"></i>
              </button>
            </form>
          </div>
        </div>
      {% endfor %}
      {% include "proposal/partials/pemasukan_modal.html" %}
        </div>