<div x-data="{ accordionOpen: false }" @click.outside="accordionOpen = false" class="rounded-md border border-stroke p-4 shadow-9 dark:border-strokedark dark:shadow-none md:p-6 xl:p-7.5">
    <button @click="accordionOpen = !accordionOpen" class="flex w-full items-center justify-between gap-2">
      <div>
        <h4 class="text-left text-title-xsm font-bold text-black dark:text-white sm:text-title-md">
          Seksi
        </h4>
      </div>
  
      <div class="flex h-9 w-9 items-center justify-center rounded-full border border-primary dark:border-white">
        <svg :class="accordionOpen &amp;&amp; 'hidden'" class="fill-primary dark:fill-white"  width="15" height="15" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
          <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/>
        </svg>
  
        <svg :class="accordionOpen === true ? 'block' : 'hidden'" class="fill-primary dark:fill-white hidden" width="15" height="3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
          <path d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z"/>
        </svg>
      </div>
    </button>
  
    <div x-show="accordionOpen" class="mt-5 duration-200 ease-in-out" style="display: none;">
      <div x-data="{ 
        'isModalOpen': false, 
              seksiEdit: {}, 
              modalTitle: '', 
              formUrl: '', 
              formBtn: '', 
            }"
         class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
      <div class="px-4 py-6 md:px-6 xl:px-7.5 flex justify-between">
        <div>
          <input type="text"
                 placeholder="Search"
                 x-model="input_filter"
                 class="w-1/4 rounded-lg border-[1.5px] border-stroke bg-transparent px-5 py-2 font-normal text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary" />
          <a href="#"
             class="inline-flex items-center justify-center rounded-md border border-primary px-10 py-2 text-center font-medium text-primary hover:bg-opacity-90 lg:px-8 xl:px-10">
            Filter
          </a>
        </div>
        <div>
          <button id="modalOpen"
                  x-on:click="
                      formUrl = '{% url "seksi.create" proposalID %}?menu=seksi-panitia'; 
                      formBtn = 'Create'; 
                      isModalOpen = true; 
                      modalTitle = 'Create Seksi'; 
                      seksiEdit = { 
                        nama: '',
                        waktu_mulai: '', 
                        waktu_selesai: '', 
                        seksi: '', 
                      }; "
                  class="inline-flex items-center justify-center rounded-md bg-primary px-10 py-2 text-center font-medium text-white hover:bg-opacity-90 lg:px-8 xl:px-10">
            Create
          </button>
        </div>
      </div>
      <div class="grid grid-cols-6 border-t border-stroke px-4 py-4.5 dark:border-strokedark sm:grid-cols-8 md:px-6 2xl:px-7.5">
        <div class="col-span-7 hidden items-center sm:flex">
          <p class="font-medium">Nama Seksi</p>
        </div>
      </div>
      {% for s in seksi %}
        <div class="grid grid-cols-6 border-t border-stroke px-4 py-4.5 dark:border-strokedark sm:grid-cols-8 md:px-6 2xl:px-7.5">
          <div class="col-span-7 flex items-center">
            <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
              <p class="text-sm font-medium text-black dark:text-white">{{ s.nama }}</p>
            </div>
          </div>
          <div class="flex gap-5">
            <button x-on:click="
                  formUrl = '{% url "seksi.edit" proposalID s.id %}?menu=seksi-panitia'; 
                  formBtn = 'Save'; 
                  isModalOpen = true; 
                  modalTitle = 'Edit Seksi'; 
                  seksiEdit = { 
                    nama: '{{ s.nama }}',
                  }; "
              >
              <i class="fa-solid fa-pen"></i>
            </button>
            <form action="{% url 'seksi.delete' proposalID s.id %}?menu=seksi-panitia" method="post">
              {% csrf_token %}
              <button type="submit">
                <i class="fa-solid fa-trash"></i>
              </button>
            </form>
          </div>
        </div>
      {% endfor %}
      {% include "proposal/partials/seksi_modal.html" %}
        </div>
      </div>
    </div>