{% extends "dashboard/layout.html" %} 
<!---->
{% block content %} 
<!---->
{% include "dashboard/broadcrumb.html" with title="Periode" %}
<div
  x-data="{
    'isModalOpen': false, 
    periodeEdit: {},
    modalTitle: '',
    formUrl: '',
    formBtn: '',
  }"
  class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark"
>
  <div class="px-4 py-6 md:px-6 xl:px-7.5 flex justify-between">
    <div>
      <input type="text"
             placeholder="Search"
             class="w-1/4 rounded-lg border-[1.5px] border-stroke bg-transparent px-5 py-2 font-normal text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary" />
      <a href="#"
         class="inline-flex items-center justify-center rounded-md border border-primary px-10 py-2 text-center font-medium text-primary hover:bg-opacity-90 lg:px-8 xl:px-10">
        Filter
      </a>
    </div>
    <div>
      <button id="modalOpen"
        x-on:click="
        formUrl = '{% url "periode.create" %}'; 
        formBtn = 'Create'; 
        isModalOpen = true; 
        modalTitle = 'Create Periode'; 
        periodeEdit = { nama: '', tgl_mulai: '', tgl_selesai: '' }; 
        "
        class="inline-flex items-center justify-center rounded-md bg-primary px-10 py-2 text-center font-medium text-white hover:bg-opacity-90 lg:px-8 xl:px-10"
       >
        Create
      </button>
    </div>
  </div>
  <div
    class="grid grid-cols-6 border-t border-stroke px-4 py-4.5 dark:border-strokedark sm:grid-cols-8 md:px-6 2xl:px-7.5"
  >
    <div class="col-span-3 hidden items-center sm:flex">
      <p class="font-medium">Nama</p>
    </div>
    <div class="col-span-2 hidden items-center sm:flex">
        <p class="font-medium">Tanggal Mulai</p>
      </div>
      <div class="col-span-2 hidden items-center sm:flex">
        <p class="font-medium">Tanggal Selesai</p>
      </div>
  </div>
  {% for p in periode %}
  <div
    class="grid grid-cols-6 border-t border-stroke px-4 py-4.5 dark:border-strokedark sm:grid-cols-8 md:px-6 2xl:px-7.5"
  >
    <div class="col-span-3 flex items-center">
      <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
        <p class="text-sm font-medium text-black dark:text-white">
          {{ p.nama }}
        </p>
      </div>
    </div>
    <div class="col-span-2 flex items-center">
        <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
          <p class="text-sm font-medium text-black dark:text-white">
            {{ p.tgl_mulai|date:"d M Y" }}
          </p>
        </div>
      </div>
      <div class="col-span-2 flex items-center">
        <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
          <p class="text-sm font-medium text-black dark:text-white">
            {{ p.tgl_selesai|date:"d M Y" }}
          </p>
        </div>
      </div>
    <div class="flex gap-5">
        <button
          x-on:click="
          formUrl = '{% url "periode.edit" p.id %}';
          formBtn = 'Save';
          isModalOpen = true;
          modalTitle = 'Edit Periode';
          periodeEdit = {
              nama: '{{ p.nama }}',
              tgl_mulai: '{{ p.tgl_mulai|date:"Y-m-d" }}',
              tgl_selesai: '{{ p.tgl_selesai|date:"Y-m-d" }}',
              start_rkt_univ: '{{ p.start_rkt_univ|date:"Y-m-d H:i" }}',
              end_rkt_univ: '{{ p.end_rkt_univ|date:"Y-m-d H:i" }}',
              start_rkt_fakultas: '{{ p.start_rkt_fakultas|date:"Y-m-d H:i" }}',
              end_rkt_fakultas: '{{ p.end_rkt_fakultas|date:"Y-m-d H:i" }}',
          };
          "
        >
          <i class="fa-solid fa-pen"></i>
        </button>
        <form action="{% url 'periode.delete' p.id %}" method="post">
          {% csrf_token %}
          <button type="submit">
            <i class="fa-solid fa-trash"></i>
          </button>
        </form>
      </div>
  </div>
  {% endfor %}
  {% include "periode/partials/periode_modal.html" %}
</div>
{% endblock content %}
