{% extends "dashboard/layout.html" %}
{% load group_tags %}
<!---->
{% block content %}
  <!---->
  {% include "dashboard/broadcrumb.html" with title="Kepengurusan" %}
  <div x-data="{ 
          'isModalOpen': false, 
          kepengurusanEdit: {}, 
          modalTitle: '', 
          formUrl: '', 
          formBtn: '', 
          results: [],
          displayResult: {
            ketua: false,
            sekretaris: false,
            npp_wr: false,
            npp_pembina: false,
            or_koord: false,
          },

          nameResult: {
            ketua: {
              display: false,
              value: ''
            },
            sekretaris: {
              display: false,
              value: ''
            },
            npp_wr: {
              display: false,
              value: ''
            },
            npp_pembina: {
              display: false,
              value: ''
            },
            or_koord: {
              display: false,
              value: ''
            },
          },
          
          liveSearch(type, field) {
            csrfToken = '{{ csrf_token }}'
            fetch(`/api/${type}/search`, {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken
              },
              body: JSON.stringify({
                  data: {
                    query: this.kepengurusanEdit[field],
                  }
              })
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                this.nameResult[field].display = false;
                console.log(data);
                this.results = data;
                for (key in this.displayResult) {
                  if (key === field) {
                    this.displayResult[key] = true;
                  } else {
                    this.displayResult[key] = false;
                  }
                }                
            })
            .catch(error => {
                console.error('Fetch error:', error);
                for (key in this.displayResult) {
                  this.displayResult[key] = false;
                }
            });
          },

          selectResult(id, field) {
            this.kepengurusanEdit[field] = this.results[id].code;
            this.displayResult[field] = false;
            this.nameResult[field].display = true;
            this.nameResult[field].value = this.results[id].nama;
          }
        }"
       class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
    
      <div class="px-4 py-6 md:px-6 xl:px-7.5 flex justify-between">
      <div>
        <input type="text"
                placeholder="Search"
                x-model="input_filter"
                class="w-1/4 rounded-lg border-[1.5px] border-stroke bg-transparent px-5 py-2 font-normal text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary" />
        <a href="#"
            class="inline-flex items-center justify-center rounded-md border border-primary px-10 py-2 text-center font-medium text-primary hover:bg-opacity-90 lg:px-8 xl:px-10">
          Filter
        </a>
      </div>
      <div>
        {% if request.user|is_admin_kemahasiswaan %}
        <button id="modalOpen"
              x-on:click="
                  formUrl = '{% url "kepengurusan.create" %}'; 
                  formBtn = 'Create'; 
                  isModalOpen = true; 
                  modalTitle = 'Create Kepengurusan'; 
                  kepengurusanEdit = { 
                    }; 
                  nameResult = {
                    ketua: {
                      display: false,
                      value: ''
                    },
                    sekretaris: {
                      display: false,
                      value: ''
                    },
                    npp_wr: {
                      display: false,
                      value: ''
                    },
                    npp_pembina: {
                      display: false,
                      value: ''
                    },
                    or_koord: {
                      display: false,
                      value: ''
                    },
                  };
                    "
              class="inline-flex items-center justify-center rounded-md bg-primary px-10 py-2 text-center font-medium text-white hover:bg-opacity-90 lg:px-8 xl:px-10">
          Create
        </button>
        {% endif %}
      </div>
    </div>
    <div class="grid grid-cols-6 border-t border-stroke px-4 py-4.5 dark:border-strokedark sm:grid-cols-8 md:px-6 2xl:px-7.5">
      <div class="col-span-2 hidden items-center sm:flex">
        {% if request.user|is_admin_kemahasiswaan %}
          <p class="font-medium">Ormawa</p>
        {% elif request.user|is_admin_ormawa %}
          <p class="font-medium">Nama Kepengurusan</p>
        {% endif %}
      </div>
      <div class="col-span-1 hidden items-center sm:flex">
        <p class="font-medium">Periode</p>
      </div>
      <div class="col-span-2 hidden items-center sm:flex">
        <p class="font-medium">Ketua</p>
      </div>
      <div class="col-span-2 hidden items-center sm:flex">
        <p class="font-medium">Sekretaris</p>
      </div>
    </div>
    {% for k in kepengurusan %}
      <div class="grid grid-cols-6 border-t border-stroke px-4 py-4.5 dark:border-strokedark sm:grid-cols-8 md:px-6 2xl:px-7.5">
        <div class="col-span-2 flex items-center">
          <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
            {% if request.user|is_admin_kemahasiswaan %}
              <a
              href="{% url 'kepengurusan.show' k.ormawa.singkatan k.periode.id %}" 
              class="text-sm font-bold text-meta-5 dark:text-meta-5">
                {{ k.ormawa.singkatan }} | {{ k.ormawa.nama }}
              </a>
            {% elif request.user|is_admin_ormawa %}
              <a
                href="{% url 'kepengurusan.show' k.ormawa.singkatan k.periode.id %}" 
                class="text-sm font-bold text-meta-5 dark:text-meta-5">
                  {{ k.nama }}
              </a>
            {% endif %}
          </div>
        </div>
        <div class="col-span-1 flex items-center">
          <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
            <p class="text-sm font-medium text-black dark:text-white">{{ k.periode.nama }}</p>
          </div>
        </div>
        <div class="col-span-2 flex items-center">
          <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
            <p class="text-sm font-medium text-black dark:text-white">{{ k.ketua.nama }}</p>
          </div>
        </div>
        <div class="col-span-2 flex items-center">
          <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
            <p class="text-sm font-medium text-black dark:text-white">{{ k.sekretaris.nama }}</p>
          </div>
        </div>
        <div class="flex gap-5">
          {% if request.user|is_admin_kemahasiswaan %}
          <button x-on:click="
                formUrl = '{% url "kepengurusan.edit" k.id %}'; 
                formBtn = 'Save'; 
                isModalOpen = true; 
                modalTitle = 'Edit Kepengurusan'; 
                kepengurusanEdit = { 
                  nama: '{{ k.nama }}',
                  ormawa: '{{ k.ormawa.id }}',
                  periode: '{{ k.periode.id }}',
                  ketua: '{{ k.ketua.nim }}',
                  sekretaris: '{{ k.sekretaris.nim }}',
                  npp_wr: '{{ k.npp_wr.npp }}',
                  npp_pembina: '{{ k.npp_pembina.npp }}',
                  or_koord: '{{ k.or_koord.nim }}',
                  jabatan_koord: '{{ k.jabatan_koord }}',
                }; 
                nameResult= {
                  ketua: {
                    display: true,
                    value: '{{ k.ketua.nama }}'
                  },
                  sekretaris: {
                    display: true,
                    value: '{{ k.sekretaris.nama }}'
                  },
                  npp_wr: {
                    display: true,
                    value: '{{ k.npp_wr.nama }}'
                  },
                  npp_pembina: {
                    display: true,
                    value: '{{ k.npp_pembina.nama }}'
                  },
                  or_koord: {
                    display: true,
                    value: '{{ k.or_koord.nama }}'
                  },
                };
                ">
            <i class="fa-solid fa-pen"></i>
          </button>
          <form action="{% url 'kepengurusan.delete' k.id %}" method="post">
            {% csrf_token %}
            <button type="submit">
              <i class="fa-solid fa-trash"></i>
            </button>
          </form>
          {% endif %}
        </div>
      </div>
    {% endfor %}
    {% include "kepengurusan/partials/kepengurusan_modal.html" %}
  </div>
{% endblock content %}
