{% extends "dashboard/layout.html" %}
<!---->
{% block content %}
  <!---->
  {% include "dashboard/broadcrumb.html" with title="Kepengurusan {{ ormawa }} ({{ periode }})" %}
  <div x-data="{ 'isModalOpen': false, pengurusEdit: {}, modalTitle: '', formUrl: '', formBtn: '', }"
       class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
    {% if not kepengurusan %}
      <div class="m-3 flex justify-center">
        <div>
          <button id="modalOpen"
                  x-on:click=" formUrl = '{% url "kepengurusan.create" ormawa periode %}'; formBtn = 'Create'; isModalOpen = true; modalTitle = 'Create Kepengurusan'; ormawaEdit = { nama: '', singkatan: '', deskripsi: '', jenis: '', status: '', }; "
                  class="block text-center text-primary font-bold">Klik disini untuk membuat</button>
          <span class="block text-center">(( \\ Under Construction \\ ))</span>
        </div>
      </div>
    {% else %}
      <div class="px-4 py-6 md:px-6 xl:px-7.5 flex justify-between">
        <div>
          <input type="text"
                 placeholder="Search"
                 class="w-1/4 rounded-lg border-[1.5px] border-stroke bg-transparent px-5 py-2 font-normal text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary" />
          <a href="#"
             class="inline-flex items-center justify-center rounded-md border border-primary px-10 py-2 text-center font-medium text-primary hover:bg-opacity-90 lg:px-8 xl:px-10">
            Filter
          </a>
        </div>
        <div>
          <button id="modalOpen"
                  x-on:click=" formUrl = '{% url "pengurus.create" kepengurusan.id %}'; formBtn = 'Create'; isModalOpen = true; modalTitle = 'Create Pengurus'; ormawaEdit = { nama: '', singkatan: '', deskripsi: '', jenis: '', status: '', }; "
                  class="inline-flex items-center justify-center rounded-md bg-primary px-10 py-2 text-center font-medium text-white hover:bg-opacity-90 lg:px-8 xl:px-10">
            Create
          </button>
        </div>
      </div>
      <div class="grid grid-cols-6 border-t border-stroke px-4 py-4.5 dark:border-strokedark sm:grid-cols-8 md:px-6 2xl:px-7.5">
        <div class="col-span-3 hidden items-center sm:flex">
          <p class="font-medium">Nama</p>
        </div>
        <div class="col-span-3 hidden items-center sm:flex">
          <p class="font-medium">NIM/NPP</p>
        </div>
        <div class="col-span-1 hidden items-center sm:flex">
          <p class="font-medium">Jabatan</p>
        </div>
      </div>
      <!-- ketua -->
      <div class="grid grid-cols-6 border-t border-stroke px-4 py-4.5 dark:border-strokedark sm:grid-cols-8 md:px-6 2xl:px-7.5">
        <div class="col-span-3 flex items-center">
          <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
            <p class="text-sm font-medium text-black dark:text-white">{{ kepengurusan.ketua.nama }}</p>
          </div>
        </div>
        <div class="col-span-3 flex items-center">
          <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
            <p class="text-sm font-medium text-black dark:text-white">{{ kepengurusan.ketua.nim }}</p>
          </div>
        </div>
        <div class="col-span-1 flex items-center">
          <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
            <p class="text-sm font-medium text-black dark:text-white">Ketua</p>
          </div>
        </div>
        <div class="flex gap-5 justify-end">
          <button x-on:click=" formUrl = '{% url "level.edit" 1 %}'; formBtn = 'Save'; isModalOpen = true; modalTitle = 'Edit Jenis Ormawa'; pengurusEdit = { nama: '{{ k.nama }}', }; ">
            <i class="fa-solid fa-pen"></i>
          </button>
        </div>
      </div>
      <!-- Sekretaris -->
      <div class="grid grid-cols-6 border-t border-stroke px-4 py-4.5 dark:border-strokedark sm:grid-cols-8 md:px-6 2xl:px-7.5">
        <div class="col-span-3 flex items-center">
          <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
            <p class="text-sm font-medium text-black dark:text-white">{{ kepengurusan.sekretaris.nama }}</p>
          </div>
        </div>
        <div class="col-span-3 flex items-center">
          <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
            <p class="text-sm font-medium text-black dark:text-white">{{ kepengurusan.sekretaris.nim }}</p>
          </div>
        </div>
        <div class="col-span-1 flex items-center">
          <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
            <p class="text-sm font-medium text-black dark:text-white">Sekretaris</p>
          </div>
        </div>
        <div class="flex gap-5 justify-end">
          <button x-on:click=" formUrl = '{% url "level.edit" 1 %}'; formBtn = 'Save'; isModalOpen = true; modalTitle = 'Edit Jenis Ormawa'; pengurusEdit = { nama: '{{ k.nama }}', }; ">
            <i class="fa-solid fa-pen"></i>
          </button>
        </div>
      </div>
      {% for p in kepengurusan.pengurus_set.all %}
        <div class="grid grid-cols-6 border-t border-stroke px-4 py-4.5 dark:border-strokedark sm:grid-cols-8 md:px-6 2xl:px-7.5">
          <div class="col-span-3 flex items-center">
            <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
              <p class="text-sm font-medium text-black dark:text-white">{{ p.mahasiswa.nama }}</p>
            </div>
          </div>
          <div class="col-span-3 flex items-center">
            <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
              <p class="text-sm font-medium text-black dark:text-white">{{ p.mahasiswa.nim }}</p>
            </div>
          </div>
          <div class="col-span-1 flex items-center">
            <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
              <p class="text-sm font-medium text-black dark:text-white">{{ p.struktur.nama }}</p>
            </div>
          </div>
          <div class="flex gap-5 justify-end">
            <button x-on:click=" formUrl = '{% url "pengurus.edit" p.id %}'; formBtn = 'Save'; isModalOpen = true; modalTitle = 'Edit Pengurus'; pengurusEdit = { idMahasiswa: '{{ p.mahasiswa.id }}', idStruktur: '{{ p.struktur.id }}' }; ">
              <i class="fa-solid fa-pen"></i>
            </button>
            <form action="{% url 'pengurus.delete' p.id %}"
                  method="post"
                  @submit.prevent="if (confirm('Are you sure?')) $el.submit()">
              {% csrf_token %}
              <button type="submit" @click="confirmed = true">
                <i class="fa-solid fa-trash"></i>
              </button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% endif %}
    {% include "partials/basic_modal.html" %}

  </div>
{% endblock content %}
