<div
  id="modal"
  x-show="isModalOpen"
  class="fixed inset-0 z-99999 flex h-screen w-screen items-center bg-black bg-opacity-50"
>
  <div
    x-on:click.away="isModalOpen = false"
    class="inset-0 mx-auto h-fit w-1/2 rounded-lg bg-white"
  >
    <div
      id="modalHead"
      class="px-4 py-4 md:px-6 xl:px-7.5 flex content-center justify-between border-b border-stroke dark:border-strokedark"
    >
      <span class="float-start font-bold align-middle" x-text="modalTitle"
        >{{ modalTitle }}</span
      >
      <button x-on:click="isModalOpen = false" id="modalClose" class="text-xl">
        <i class="fa-solid fa-x"></i>
      </button>
    </div>
    <div class="w-full">
      <form
        id="modalForm"
        x-bind:action="formUrl"
        method="post"
        enctype="multipart/form-data"
      >
        {% csrf_token %}
        <div class="px-4 py-4 md:px-6 xl:px-7.5 overflow-y-scroll max-h-90">
          {{ form.nama.label }} {{ form.nama }}
          <!--  -->
          {{ form.ormawa.label }} {{ form.ormawa }}
          <!--  -->
          {{ form.periode.label }} {{ form.periode }}
          <!--  -->
          <div>
            {{ form.ketua.label }}
            <div
              x-show="nameResult.ketua.display"
              class="text-sm font-bold text-success"
            >
              (
              <span x-text="nameResult.ketua.value"></span>
              )
            </div>
            {{ form.ketua }}
            <div
              x-show="displayResult.ketua"
              class="w-full rounded-lg border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary"
            >
              <template x-for="(item, index) in results" :key="index">
                <div
                  class="inline"
                  @click.prevent="selectResult(index, 'ketua')"
                >
                  <span x-text="item.code"></span> -
                  <span x-text="item.nama"></span>
                </div>
              </template>
            </div>
          </div>
          <!--  -->
          <div>
            {{ form.sekretaris.label }}
            <div
              x-show="nameResult.sekretaris.display"
              class="text-sm font-bold text-success"
            >
              (
              <span x-text="nameResult.sekretaris.value"></span>
              )
            </div>
            {{ form.sekretaris }}
            <div
              x-show="displayResult.sekretaris"
              class="w-full rounded-lg border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary"
            >
              <template x-for="(item, index) in results" :key="index">
                <div
                  class="inline"
                  @click.prevent="selectResult(index, 'sekretaris')"
                >
                  <span x-text="item.code"></span>
                  -
                  <span x-text="item.nama"></span>
                </div>
              </template>
            </div>
          </div>
          <!--  -->
          <div>
            {{ form.npp_wr.label }}
            <div
              x-show="nameResult.npp_wr.display"
              class="text-sm font-bold text-success"
            >
              (
              <span x-text="nameResult.npp_wr.value"></span>
              )
            </div>
            {{ form.npp_wr }}
            <div
              x-show="displayResult.npp_wr"
              class="w-full rounded-lg border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary"
            >
              <template x-for="(item, index) in results" :key="index">
                <div
                  class="inline"
                  @click.prevent="selectResult(index, 'npp_wr')"
                >
                  <span x-text="item.code"></span> -
                  <span x-text="item.nama"></span>
                </div>
              </template>
            </div>
          </div>
          <!--  -->
          <div>
            {{ form.npp_pembina.label }}
            <div
              x-show="nameResult.npp_pembina.display"
              class="text-sm font-bold text-success"
            >
              (
              <span x-text="nameResult.npp_pembina.value"></span>
              )
            </div>
            {{ form.npp_pembina }}
            <div
              x-show="displayResult.npp_pembina"
              class="w-full rounded-lg border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary"
            >
              <template x-for="(item, index) in results" :key="index">
                <div
                  class="inline"
                  @click.prevent="selectResult(index, 'npp_pembina')"
                >
                  <span x-text="item.code"></span> -
                  <span x-text="item.nama"></span>
                </div>
              </template>
            </div>
          </div>
          <!--  -->
          <div>
            {{ form.or_koord.label }}
            <div
              x-show="nameResult.or_koord.display"
              class="text-sm font-bold text-success"
            >
              (
              <span x-text="nameResult.or_koord.value"></span>
              )
            </div>
            {{ form.or_koord }}
            <div
              x-show="displayResult.or_koord"
              class="w-full rounded-lg border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary"
            >
              <template x-for="(item, index) in results" :key="index">
                <div
                  class="inline"
                  @click.prevent="selectResult(index, 'or_koord')"
                >
                  <span x-text="item.code"></span> -
                  <span x-text="item.nama"></span>
                </div>
              </template>
            </div>
          </div>
          <!--  -->          
          {{ form.jabatan_koord.label }} {{ form.jabatan_koord }}

        </div>
        <div
          class="border-t border-stroke dark:border-strokedark px-4 py-4 md:px-6 xl:px-7.5 w-full"
        >
          <button
            x-text="formBtn"
            type="submit"
            class="inline-flex items-center justify-center rounded-md bg-primary px-10 py-2 text-center font-medium text-white hover:bg-opacity-90 lg:px-8 xl:px-10"
          ></button>
        </div>
      </form>
    </div>
  </div>
</div>
