<div
  id="modal"
  x-show="isModalOpen"
  class="fixed inset-0 z-99999 flex h-screen w-screen items-center bg-black bg-opacity-50"
>
  <div
    x-on:click.away="isModalOpen = false"
    class="inset-0 mx-auto h-fit w-1/2 rounded-lg bg-white"
  >
    <div
      id="modalHead"
      class="px-4 py-4 md:px-6 xl:px-7.5 flex content-center justify-between border-b border-stroke dark:border-strokedark"
    >
      <span class="float-start font-bold align-middle" x-text="modalTitle"
        >{{ modalTitle }}</span
      >
      <button x-on:click="isModalOpen = false" id="modalClose" class="text-xl">
        <i class="fa-solid fa-x"></i>
      </button>
    </div>
    <div class="w-full">
      <form id="modalForm" x-bind:action="formUrl" method="post">
        {% csrf_token %}
        <div class="px-4 py-4 md:px-6 xl:px-7.5">
          {{ form.seksi.label }} {{ form.seksi }}
          <!-- -->
           <!--  -->
           <div>
            {{ form.mahasiswa.label }}
            <div
              x-show="nameResult.mahasiswa.display"
              class="text-sm font-bold text-success"
            >
              (
              <span x-text="nameResult.mahasiswa.value"></span>
              )
            </div>
            {{ form.mahasiswa }}
            <div
              x-show="displayResult.mahasiswa"
              class="w-full rounded-lg border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary"
            >
              <template x-for="(item, index) in results" :key="index">
                <div
                  class="inline"
                  @click.prevent="selectResult(index, 'mahasiswa')"
                >
                  <span x-text="item.code"></span> -
                  <span x-text="item.nama"></span>
                </div>
              </template>
            </div>
          </div>
          <!-- -->
          {{ form.koordinator.label }}
          <div>
            <label
              for="toggle3"
              class="flex cursor-pointer select-none items-center"
            >
              <div class="relative">
                {{ form.koordinator }}
                <div
                  class="block h-8 w-14 rounded-full bg-meta-9 dark:bg-[#5A616B]"
                ></div>
                <div
                  :class="switcherToggle &amp;&amp; '!right-1 !translate-x-full !bg-primary dark:!bg-white'"
                  class="dot absolute left-1 top-1 flex h-6 w-6 items-center justify-center rounded-full bg-white transition"
                >
                  <span
                    :class="switcherToggle &amp;&amp; '!block'"
                    class="hidden text-white dark:text-bodydark"
                  >
                    <svg
                      class="fill-current stroke-current"
                      width="11"
                      height="8"
                      viewBox="0 0 11 8"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M10.0915 0.951972L10.0867 0.946075L10.0813 0.940568C9.90076 0.753564 9.61034 0.753146 9.42927 0.939309L4.16201 6.22962L1.58507 3.63469C1.40401 3.44841 1.11351 3.44879 0.932892 3.63584C0.755703 3.81933 0.755703 4.10875 0.932892 4.29224L0.932878 4.29225L0.934851 4.29424L3.58046 6.95832C3.73676 7.11955 3.94983 7.2 4.1473 7.2C4.36196 7.2 4.55963 7.11773 4.71406 6.9584L10.0468 1.60234C10.2436 1.4199 10.2421 1.1339 10.0915 0.951972ZM4.2327 6.30081L4.2317 6.2998C4.23206 6.30015 4.23237 6.30049 4.23269 6.30082L4.2327 6.30081Z"
                        fill=""
                        stroke=""
                        stroke-width="0.4"
                      ></path>
                    </svg>
                  </span>
                  <span :class="switcherToggle &amp;&amp; 'hidden'" class="">
                    <svg
                      class="h-4 w-4 stroke-current"
                      fill="none"
                      viewBox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M6 18L18 6M6 6l12 12"
                      ></path>
                    </svg>
                  </span>
                </div>
              </div>
            </label>
          </div>
        </div>
        <div
          class="border-t border-stroke dark:border-strokedark px-4 py-4 md:px-6 xl:px-7.5 w-full"
        >
          <button
            x-text="formBtn"
            type="submit"
            class="inline-flex items-center justify-center rounded-md bg-primary px-10 py-2 text-center font-medium text-white hover:bg-opacity-90 lg:px-8 xl:px-10"
          ></button>
        </div>
      </form>
    </div>
  </div>
</div>
