<div
  id="modal"
  x-show="isModalOpen"
  class="fixed inset-0 z-99999 flex h-screen w-screen items-center bg-black bg-opacity-50"
>
  <div
    x-on:click.away="isModalOpen = false"
    class="inset-0 mx-auto h-fit w-1/2 rounded-lg bg-white"
  >
    <div
      id="modalHead"
      class="px-4 py-4 md:px-6 xl:px-7.5 flex content-center justify-between border-b border-stroke dark:border-strokedark"
    >
      <span class="float-start font-bold align-middle" x-text="modalTitle"
        >{{ modalTitle }}</span
      >
      <button x-on:click="isModalOpen = false" id="modalClose" class="text-xl">
        <i class="fa-solid fa-x"></i>
      </button>
    </div>
    <div class="w-full">
      <form id="modalForm" x-bind:action="formUrl" method="post">
        {% csrf_token %}
        <template x-if="modalTitle == 'Create Pengeluaran'">
          <div class="px-4 py-4 md:px-6 xl:px-7.5">
            {{ RealisasiPengeluaranTambahanForm.seksi.label }} {{ RealisasiPengeluaranTambahanForm.seksi }}
            <!--  -->
            {{ RealisasiPengeluaranTambahanForm.nama.label }} {{ RealisasiPengeluaranTambahanForm.nama }}
            <div class="grid grid-cols-4 gap-4">
              <div class="col-span">{{ RealisasiPengeluaranTambahanForm.real_qty.label }} {{ RealisasiPengeluaranTambahanForm.real_qty }}</div>
              <div class="col-span-2">
                {{ RealisasiPengeluaranTambahanForm.real_harga.label }}
                <div
                  x-data="{ isOptionSelected: false }"
                  class="relative z-20 bg-white dark:bg-RealisasiPengeluaranTambahanForm-input"
                >
                  <span class="absolute left-4 top-1/2 z-30 -translate-y-1/2">
                    Rp.
                  </span>
                  {{ RealisasiPengeluaranTambahanForm.real_harga }}
                </div>
              </div>
              <div class="col-span">
                {{ RealisasiPengeluaranTambahanForm.satuan.label }} {{ RealisasiPengeluaranTambahanForm.satuan }}
              </div>
            </div>
          </div>
        </template>
        <template x-if="modalTitle != 'Create Pengeluaran'">
          <div class="px-4 py-4 md:px-6 xl:px-7.5">
            <div class="grid grid-cols-4 gap-4">
              <div class="col-span">{{ form.real_qty.label }} {{ form.real_qty }}</div>
              <div class="col-span-2">
                {{ form.real_harga.label }}
                <div
                  x-data="{ isOptionSelected: false }"
                  class="relative z-20 bg-white dark:bg-form-input"
                >
                  <span class="absolute left-4 top-1/2 z-30 -translate-y-1/2">
                    Rp.
                  </span>
                  {{ form.real_harga }}
                </div>
              </div>
              <div class="col-span">
              </div>
            </div>
          </div>
        </template>


        <div
          class="border-t border-stroke dark:border-strokedark px-4 py-4 md:px-6 xl:px-7.5 w-full"
        >
          <button
            x-text="formBtn"
            type="submit"
            class="inline-flex items-center justify-center rounded-md bg-primary px-10 py-2 text-center font-medium text-white hover:bg-opacity-90 lg:px-8 xl:px-10"
          ></button>
        </div>
      </form>
    </div>
  </div>
</div>
