{% extends "modal/sm_modal.html" %}

{% block formContent %}
<template x-if="modalTitle == 'Create Acara'">
    <div>
      {{ RealisasiAcaraTambahanForm.nama.label }} {{ RealisasiAcaraTambahanForm.nama }}
      <div class="grid grid-cols-2 gap-4">
        <div class="col-span">
          {{ RealisasiAcaraTambahanForm.real_waktu_mulai.label }} {{ RealisasiAcaraTambahanForm.real_waktu_mulai }}
        </div>
        <div class="col-span">
          {{ RealisasiAcaraTambahanForm.real_waktu_selesai.label }} {{ RealisasiAcaraTambahanForm.real_waktu_selesai }}
        </div>
      </div>
      {{ RealisasiAcaraTambahanForm.seksi.label }} {{ RealisasiAcaraTambahanForm.seksi }}
    </div>
  </template>
  <template x-if="modalTitle != 'Create Acara'">
    <div class="px-4 py-4 md:px-6 xl:px-7.5">
      <div class="grid grid-cols-2 gap-4">
        <div class="col-span">
          {{ form.real_waktu_mulai.label }} {{ form.real_waktu_mulai }}
        </div>
        <div class="col-span">
          {{ form.real_waktu_selesai.label }} {{ form.real_waktu_selesai }}
        </div>
      </div>
    </div>
  </template>
{% endblock formContent %}