{% extends "modal/sm_modal.html" %}

{% block formContent %}
    <template x-if="modalTitle == 'Tambah Dana Akademik'">
        <div>
            {{ RealisasiDanaAkademikTambahanForm }}
        </div>
    </template>
    <template x-if="modalTitle != 'Tambah Dana Akademik'">
        <div>
            {{ form }}
        </div>
    </template>
{% endblock formContent %}