{% extends "modal/sm_modal.html" %}

{% block formContent %}
<template x-if="modalTitle == 'Create Pengeluaran'">
    <div>
      {{ RealisasiPengeluaranTambahanForm.seksi.label }} {{ RealisasiPengeluaranTambahanForm.seksi }}
      <!--  -->
      {{ RealisasiPengeluaranTambahanForm.nama.label }} {{ RealisasiPengeluaranTambahanForm.nama }}
      <div class="grid grid-cols-4 gap-4">
        <div class="col-span">{{ RealisasiPengeluaranTambahanForm.real_qty.label }} {{ RealisasiPengeluaranTambahanForm.real_qty }}</div>
        <div class="col-span-2">
          {{ RealisasiPengeluaranTambahanForm.real_harga.label }}
          <div
            x-data="{ isOptionSelected: false }"
            class="relative z-20 bg-white dark:bg-RealisasiPengeluaranTambahanForm-input"
          >
            <span class="absolute left-4 top-1/2 z-30 -translate-y-1/2">
              Rp.
            </span>
            {{ RealisasiPengeluaranTambahanForm.real_harga }}
          </div>
        </div>
        <div class="col-span">
          {{ RealisasiPengeluaranTambahanForm.satuan.label }} {{ RealisasiPengeluaranTambahanForm.satuan }}
        </div>
      </div>
    </div>
  </template>
  <template x-if="modalTitle != 'Create Pengeluaran'">
    <div>
      <div class="grid grid-cols-4 gap-4">
        <div class="col-span">{{ form.real_qty.label }} {{ form.real_qty }}</div>
        <div class="col-span-2">
          {{ form.real_harga.label }}
          <div
            x-data="{ isOptionSelected: false }"
            class="relative z-20 bg-white dark:bg-form-input"
          >
            <span class="absolute left-4 top-1/2 z-30 -translate-y-1/2">
              Rp.
            </span>
            {{ form.real_harga }}
          </div>
        </div>
        <div class="col-span">
        </div>
      </div>
    </div>
  </template>
{% endblock formContent %}
