{% extends "dashboard/layout.html" %} 
<!---->
{% load group_tags %}
<!---->
{% block content %}
<!---->
{% include "dashboard/broadcrumb.html" with title="Proposal" %}
<div
  x-data="{ 
            'isModalOpen': false, 
            kegiatanEdit: {}, 
            modalTitle: '', 
            formUrl: '', 
            formBtn: '', 
          }"
  class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark"
>
  {% if request.user|has_group:"ADMIN ORMAWA" %}
    <div
      class="grid grid-cols-6 border-t border-stroke px-4 py-4.5 dark:border-strokedark sm:grid-cols-8 md:px-6 2xl:px-7.5"
    >
      <div class="col-span-5 hidden items-center sm:flex">
        <p class="font-medium">Nama</p>
      </div>
      <div class="col-span-1 hidden items-center sm:flex">
        <p class="font-medium">Tgl Mulai</p>
      </div>
      <div class="col-span-1 hidden items-center sm:flex">
        <p class="font-medium">Tgl Selesai</p>
      </div>
      <div class="col-span-1 hidden items-center sm:flex">
        <p class="font-medium mx-auto">Action</p>
      </div>
    </div>
  {% elif request.user|has_group:"ADMIN KEMAHASISWAAN" %}
    <div
      class="grid grid-cols-6 border-t border-stroke px-4 py-4.5 dark:border-strokedark sm:grid-cols-8 md:px-6 2xl:px-7.5"
    >
      <div class="col-span-4 hidden items-center sm:flex">
        <p class="font-medium">Nama</p>
      </div>
      <div class="col-span-1 hidden items-center sm:flex">
        <p class="font-medium">Tgl Mulai</p>
      </div>
      <div class="col-span-1 hidden items-center sm:flex">
        <p class="font-medium">Tgl Selesai</p>
      </div>
      <div class="col-span-1 hidden items-center sm:flex text-center">
        <p class="font-medium mx-auto">Status</p>
      </div>
      <div class="col-span-1 hidden items-center sm:flex">
        <p class="font-medium mx-auto">Action</p>
      </div>
    </div>
  {% endif %} 
  {% if kegiatan %} 
    {% for k in kegiatan %} 
      {% if request.user|has_group:"ADMIN ORMAWA" %}
        {% include 'proposal/partials/admin_ormawa/kegiatan_list.html' %}
      {% elif request.user|has_group:"ADMIN KEMAHASISWAAN" %}
        {% include 'proposal/partials/admin_kemahasiswaan/kegiatan_list.html' %}
      {% endif %} 
    {% endfor %} 
  {% else %}
    <div
      class="border-t border-stroke px-4 py-4.5 dark:border-strokedark sm:grid-cols-8 md:px-6 2xl:px-7.5"
    >
      <p class="text-center">Belum Ada Proposal</p>
    </div>
  {% endif %} 
  {% include "partials/basic_modal.html" %}
</div>
{% endblock content %}
