{% extends "dashboard/layout.html" %}
<!---->
{% block content %}

<div
  class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark"
>
  <div class="border-b border-stroke px-7.5 py-4 dark:border-strokedark">
    <div class="flex justify-between">
      <div class="flex flex-col space-y-3">
        <h2 class="text-title-md2 font-bold text-black dark:text-white">
          Proposal {{ proposalName }}
        </h2>
        <a href="{% url 'proposal.print' kegiatan.id %}"> 
          <i class="fa-regular fa-file-pdf" style="color: #dc2626"></i>
        </a>
      </div>
      <form action="{% url 'proposal.submit' proposalID %}" method="post">
        {% csrf_token %}
        {% if kegiatan.status != "Proposal" %}
          <button
          type="submit"
          class="inline-flex items-center justify-center rounded-md bg-meta-3 px-10 py-2 text-center font-medium text-white hover:bg-opacity-90 lg:px-8 xl:px-10"
          >
            Submit
          </button>
      </form>

        {% else %}
          <span
          href="#"
          class="inline-flex items-center justify-center rounded-md bg-meta-3 px-10 py-2 text-center font-medium text-white bg-opacity-50 lg:px-8 xl:px-10"
          >
            Menunggu
          </span>
        {% endif %}
    </div>
  </div>
  <div
    x-data="
        {
        openTab: ['pengantar', 'seksi-panitia', 'acara', 'anggaran', 'pemasukan'].includes(new URLSearchParams(location.search).get('menu')) ? new URLSearchParams(location.search).get('menu') : 'pengantar',
        activeClasses: 'text-primary border-primary',
        inactiveClasses: 'border-transparent',
        }
        "
    class="mb-14 w-full p-7.5"
  >
    <div
      class="mb-6 flex flex-wrap gap-5 border-b border-stroke dark:border-strokedark sm:gap-10"
    >
      <a
        href="#"
        @click.prevent="openTab = 'pengantar'"
        :class="openTab === 'pengantar' ? activeClasses : inactiveClasses"
        class="border-b-2 py-4 text-sm font-medium hover:text-primary md:text-base border-transparent"
      >
        Pengantar
      </a>
      <a
        href="#"
        @click.prevent="openTab = 'seksi-panitia'"
        :class="openTab === 'seksi-panitia' ? activeClasses : inactiveClasses"
        class="border-b-2 py-4 text-sm font-medium hover:text-primary md:text-base border-transparent"
      >
        Struktur Panitia
      </a>
      <a
        href="#"
        @click.prevent="openTab = 'acara'"
        :class="openTab === 'acara' ? activeClasses : inactiveClasses"
        class="border-b-2 py-4 text-sm font-medium hover:text-primary md:text-base border-transparent"
      >
        Susunan Acara
      </a>
      <a
        href="#"
        @click.prevent="openTab = 'anggaran'"
        :class="openTab === 'anggaran' ? activeClasses : inactiveClasses"
        class="border-b-2 py-4 text-sm font-medium hover:text-primary md:text-base border-transparent"
      >
        Rincian Anggaran
      </a>
      <a
        href="#"
        @click.prevent="openTab = 'pemasukan'"
        :class="openTab === 'pemasukan' ? activeClasses : inactiveClasses"
        class="border-b-2 py-4 text-sm font-medium hover:text-primary md:text-base border-transparent"
      >
        Sumber Dana Anggaran
      </a>
    </div>
    <div>
      <div x-show="openTab === 'pengantar'" class="font-medium leading-relaxed">
        {% block tab_1 %} {% endblock tab_1 %}
      </div>
      <div
        x-show="openTab === 'seksi-panitia'"
        class="font-medium leading-relaxed"
        style="display: none"
      >
        {% block tab_2 %} {% endblock tab_2 %}
      </div>
      <div
        x-show="openTab === 'acara'"
        class="font-medium leading-relaxed"
        style="display: none"
      >
        {% block tab_3 %} {% endblock tab_3 %}
      </div>
      <div
        x-show="openTab === 'anggaran'"
        class="font-medium leading-relaxed"
        style="display: none"
      >
        {% block tab_4 %} {% endblock tab_4 %}
      </div>
      <div
        x-show="openTab === 'pemasukan'"
        class="font-medium leading-relaxed"
        style="display: none"
      >
        {% block tab_5 %} {% endblock tab_5 %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
