<div
  class="mb-6 flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between"
>
  <h2 class="text-title-md2 font-bold text-black dark:text-white">
    {{ title }}
  </h2>

  <nav>
    <ol class="flex items-center gap-2">
      <li>
        <a class="font-medium" href="{% url 'dashboard' %}">
          Dashboard /
        </a>
      </li>
      
      {% if beforeTitle %}
      <li>
        <a class="font-medium" href="{{ beforeTitleUrl }}">
          {{ beforeTitle }} /
        </a>
      </li>
      {% endif %}
        
      <li class="font-medium text-primary">
        <a href="#">
          {% if titleBread %}
            {{ titleBread }}
          {% else %}
            {{ title }}
          {% endif %}
        </a>
      </li>
    </ol>
  </nav>
</div>
<!-- Breadcrumb End -->