{% if messages %}
    {% for message in messages %}
        <div class="mb-5 

            {% if 'success' in message.tags %}
                bg-success
            {% elif 'error' in message.tags %}
                bg-danger
            {% endif %}
                text-white rounded">
                <div class="p-4 font-bold">
                    <p>{{ message }}</p>
                </div>
            
        </div>
    {% endfor %}
{% endif %}
