{% extends "dashboard/layout.html" %}
{% load static %}
{% load list_tags %}

<!---->
{% block content %}
  <!---->
  {% include "dashboard/broadcrumb.html" with title="Profile Ormawa" %}
  <div x-data="{ 
        isModalOpen: false, 
        modalTitle: '', 
        formUrl: '', 
        formBtn: '', 
        ormawaEdit: {
            nama: '{{ ormawa.nama }}',
            singkatan: '{{ ormawa.singkatan }}',
            deskripsi: '{{ ormawa.deskripsi }}',
            sejarah: '{{ ormawa.sejarah }}',
            visi: '{{ ormawa.visi }}',
            misi: '{{ ormawa.misi }}',
            alamat: '{{ ormawa.alamat }}',
            foto: '',
            website: '{{ ormawa.website }}',
            media_sosial: '{{ ormawa.media_sosial }}',
            tele: '{{ ormawa.tele }}',
            level: '{{ ormawa.level.id }}',
            status: '{{ ormawa.status }}',
        },
      }"
       class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
    <div class="w-3/4 mx-auto mt-6 mb-10">
        <div class="flex justify-center overflow-hidden">
            <img src="{% get_media_prefix  %}{{ ormawa.foto }}" alt="" width="200" height="200">
        </div>
        <form action="{% url 'profileOrmawa.edit' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.foto.label }}
            {{ form.foto }}
            
            {{ form.nama.label }}
            {{ form.nama }}
            
            {{ form.singkatan.label }}
            {{ form.singkatan }}

            {{ form.deskripsi.label }}
            {{ form.deskripsi }}

            {{ form.sejarah.label }}
            {{ form.sejarah }}

            {{ form.visi.label }}
            {{ form.visi }}
            
            {{ form.misi.label }}
            {{ form.misi }}
            
            {{ form.alamat.label }}
            {{ form.alamat }}
            
            {{ form.website.label }}
            {{ form.website }}
            
            {{ form.media_sosial.label }}
            {{ form.media_sosial }}
            
            {{ form.tele.label }}
            {{ form.tele }}

            <button 
                class="inline-flex items-center justify-center rounded-md bg-primary px-10 py-2 text-center font-medium text-white hover:bg-opacity-90 lg:px-8 xl:px-10">
            Save</button>
        </form>
    </div> 
</div>
{% endblock content %}
