{% extends "dashboard/layout.html" %}
<!---->
{% block content %}

<div
  class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark"
>
  <div class="border-b border-stroke px-7.5 py-4 dark:border-strokedark">
    <div class="flex justify-between">
      <div class="flex flex-col space-y-3">
        <h2 class="text-title-md2 font-bold text-black dark:text-white">
          LPJ {{ LPJName }}
        </h2>
        {% if kegiatan.deskripsi %}
          <p>{{ kegiatan.deskripsi }}</p>
        {% else %}
          <p>Tidak ada deskripsi</p>
        {% endif %}
        <i class="fa-regular fa-file-pdf" style="color: #dc2626"></i>
      </div>
      <form action="{% url 'lpj.submit' LPJID %}" method="get">
        {% csrf_token %}
        {% if kegiatan.status != "LPJ" %}
          <button
          type="submit"
          class="inline-flex items-center justify-center rounded-md bg-meta-3 px-10 py-2 text-center font-medium text-white hover:bg-opacity-90 lg:px-8 xl:px-10"
          >
            Submit
          </button>
      </form>

        {% else %}
          <span
          href="#"
          class="inline-flex items-center justify-center rounded-md bg-meta-3 px-10 py-2 text-center font-medium text-white bg-opacity-50 lg:px-8 xl:px-10"
          >
            Menunggu
          </span>
        {% endif %}
    </div>
  </div>
  <div
    x-data="
        {
        openTab: ['hasil', 'realAcara', 'realPengeluaran', 'realDanaAkademik', 'buktiPengeluaran', 'dokumentasi'].includes(new URLSearchParams(location.search).get('menu')) ? new URLSearchParams(location.search).get('menu') : 'pengantar',
        activeClasses: 'text-primary border-primary',
        inactiveClasses: 'border-transparent',
        }
        "
    class="mb-14 w-full p-7.5"
  >
    <div
      class="mb-6 flex flex-wrap gap-5 border-b border-stroke dark:border-strokedark sm:gap-10"
    >
      <a
        href="#"
        @click.prevent="openTab = 'hasil'"
        :class="openTab === 'hasil' ? activeClasses : inactiveClasses"
        class="border-b-2 py-4 text-sm font-medium hover:text-primary md:text-base border-transparent"
      >
        Hasil
      </a>
      <a
        href="#"
        @click.prevent="openTab = 'realAcara'"
        :class="openTab === 'realAcara' ? activeClasses : inactiveClasses"
        class="border-b-2 py-4 text-sm font-medium hover:text-primary md:text-base border-transparent"
      >
        Realisasi Acara
      </a>
      <a
        href="#"
        @click.prevent="openTab = 'realPengeluaran'"
        :class="openTab === 'realPengeluaran' ? activeClasses : inactiveClasses"
        class="border-b-2 py-4 text-sm font-medium hover:text-primary md:text-base border-transparent"
      >
        Realisasi Pengeluaran
      </a>
      <a
        href="#"
        @click.prevent="openTab = 'realDanaAkademik'"
        :class="openTab === 'realDanaAkademik' ? activeClasses : inactiveClasses"
        class="border-b-2 py-4 text-sm font-medium hover:text-primary md:text-base border-transparent"
      >
        Realisasi Dana Akademik
      </a>
      <a
        href="#"
        @click.prevent="openTab = 'buktiPengeluaran'"
        :class="openTab === 'buktiPengeluaran' ? activeClasses : inactiveClasses"
        class="border-b-2 py-4 text-sm font-medium hover:text-primary md:text-base border-transparent"
      >
        Bukti Pengeluaran
      </a>
      <a
        href="#"
        @click.prevent="openTab = 'dokumentasi'"
        :class="openTab === 'dokumentasi' ? activeClasses : inactiveClasses"
        class="border-b-2 py-4 text-sm font-medium hover:text-primary md:text-base border-transparent"
      >
        Dokumentasi
      </a>
    </div>
    <div>
      <div x-show="openTab === 'hasil'" class="font-medium leading-relaxed">
        {% block tab_1 %} {% endblock tab_1 %}
      </div>
      <div
        x-show="openTab === 'realAcara'"
        class="font-medium leading-relaxed"
        style="display: none"
      >
        {% block tab_2 %} {% endblock tab_2 %}
      </div>
      <div
        x-show="openTab === 'realPengeluaran'"
        class="font-medium leading-relaxed"
        style="display: none"
      >
        {% block tab_3 %} {% endblock tab_3 %}
      </div>
      <div
        x-show="openTab === 'realDanaAkademik'"
        class="font-medium leading-relaxed"
        style="display: none"
      >
        {% block tab_4 %} {% endblock tab_4 %}
      </div>
      <div
        x-show="openTab === 'buktiPengeluaran'"
        class="font-medium leading-relaxed"
        style="display: none"
      >
        {% block tab_5 %} {% endblock tab_5 %}
      </div>
      <div
        x-show="openTab === 'dokumentasi'"
        class="font-medium leading-relaxed"
        style="display: none"
      >
        {% block tab_6 %} {% endblock tab_6 %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
