<div
        class="grid grid-cols-6 border-t border-stroke px-4 py-4.5 dark:border-strokedark sm:grid-cols-8 md:px-6 2xl:px-7.5"
      >
        <div class="col-span-4 flex items-center">
          <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
            <a href="{% url 'lpj.print' k.id %}" class="italic text-sm font-medium dark:text-white">(PDF)</a>
            <p class="text-sm font-medium text-black dark:text-white">
                {{ k.nama }}
              </p>
          </div>
        </div>
        <div class="col-span-1 flex items-center">
          <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
            <p class="text-sm font-medium text-black dark:text-white">
              {{ k.tgl_mulai }}
            </p>
          </div>
        </div>
        <div class="col-span-1 flex items-center">
          <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
            <p class="text-sm font-medium text-black dark:text-white">
              {{ k.tgl_selesai }}
            </p>
          </div>
        </div>
        <div class="col-span-1 flex items-center">
          {% if k.status == "LPJ Valid" %}
          <div
            class="inline-flex items-center justify-center rounded-full border border-success px-5 py-1 text-center font-bold text-success hover:bg-opacity-90 mx-auto"
          >
            <p class="text-sm">LPJ Valid</p>
          </div>
          {% elif k.status == "LPJ" %}
          <div
            class="inline-flex items-center justify-center rounded-full border border-warning px-5 py-1 text-center font-bold text-warning hover:bg-opacity-90 mx-auto"
          >
            <p class="text-sm">LPJ</p>
          </div>
          {% endif %}
        </div>
        <div class="col-span-1 flex items-center mx-auto">
          <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
            <form action="{% url 'lpj.verify' k.id %}" method="post">
              {% csrf_token %} 
              {% if k.status == "LPJ" %}
                <button class="bg-success px-2 py-1 text-white rounded-md">
                  <i class="fa-solid fa-check"></i>
                  Verifikasi
                </button>
              {% elif k.status == "LPJ Valid" %}
              <button class="bg-danger px-2 py-1 text-white rounded-md">
                <i class="fa-solid fa-x"></i>
                Batal Verifikasi
              </button>
              {% endif %}
            </form>
          </div>
        </div>
      </div>