<div
  id="modal"
  x-show="isModalOpen"
  class="fixed inset-0 z-99999 flex h-screen w-screen items-center bg-black bg-opacity-50"
>
  <div
    x-on:click.away="isModalOpen = false"
    class="inset-0 mx-auto h-fit w-[90vw] rounded-lg bg-white"
  >
    <div
      id="modalHead"
      class="px-4 py-4 md:px-6 xl:px-7.5 flex content-center justify-between border-b border-stroke dark:border-strokedark"
    >
      <span class="float-start font-bold align-middle" x-text="modalTitle"
        >{{ modalTitle }}</span
      >
      <button x-on:click="isModalOpen = false" id="modalClose" class="text-xl">
        <i class="fa-solid fa-x"></i>
      </button>
    </div>
    <div class="w-full px-5">
      <form id="modalForm" x-bind:action="formUrl" method="post">
        {% csrf_token %}

        <div class="px-4 py-4 md:px-6 xl:px-7.5 overflow-y-scroll max-h-[70vh]">
          {% block formContent %} 
            {{ form }}
          {% endblock formContent %}
        </div>        

        <div
          class="border-t border-stroke dark:border-strokedark px-4 py-4 md:px-6 xl:px-7.5 w-full"
        >
        <template x-if="formBtn == 'Close'">
          <div>
            <button
            x-text="formBtn"
            type="close"
            @click.prevent="isModalOpen = false"
            class="inline-flex items-center justify-center rounded-md bg-neutral-500 px-10 py-2 text-center font-medium text-white hover:bg-opacity-90 lg:px-8 xl:px-10"
            ></button>
          </div>
        </template>
        <template x-else>
          <div>
            <button
            x-text="formBtn"
            type="submit"
            class="inline-flex items-center justify-center rounded-md bg-primary px-10 py-2 text-center font-medium text-white hover:bg-opacity-90 lg:px-8 xl:px-10"
            ></button>
          </div>
        </template>
        </div>
      </form>
    </div>
  </div>
</div>
