@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

/*
! tailwindcss v3.4.4 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: currentColor;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden] {
  display: none;
}

body{
  position: relative;
  z-index: 1;
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));
  font-family: Satoshi, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  --tw-text-opacity: 1;
  color: rgb(100 116 139 / var(--tw-text-opacity));
}

*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

.container{
  width: 100%;
}

@media (min-width: 375px){
  .container{
    max-width: 375px;
  }
}

@media (min-width: 425px){
  .container{
    max-width: 425px;
  }
}

@media (min-width: 640px){
  .container{
    max-width: 640px;
  }
}

@media (min-width: 768px){
  .container{
    max-width: 768px;
  }
}

@media (min-width: 1024px){
  .container{
    max-width: 1024px;
  }
}

@media (min-width: 1280px){
  .container{
    max-width: 1280px;
  }
}

@media (min-width: 1536px){
  .container{
    max-width: 1536px;
  }
}

@media (min-width: 2000px){
  .container{
    max-width: 2000px;
  }
}

.collapse{
  visibility: collapse;
}

.static{
  position: static;
}

.fixed{
  position: fixed;
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.sticky{
  position: sticky;
}

.inset-0{
  inset: 0px;
}

.\!right-1{
  right: 0.25rem !important;
}

.-right-27{
  right: -6.75rem;
}

.-top-0{
  top: -0px;
}

.-top-0\.5{
  top: -0.125rem;
}

.left-0{
  left: 0px;
}

.left-1{
  left: 0.25rem;
}

.left-2{
  left: 0.5rem;
}

.left-2\.5{
  left: 0.625rem;
}

.left-4{
  left: 1rem;
}

.right-0{
  right: 0px;
}

.right-4{
  right: 1rem;
}

.top-0{
  top: 0px;
}

.top-1{
  top: 0.25rem;
}

.top-1\/2{
  top: 50%;
}

.top-2{
  top: 0.5rem;
}

.top-2\.5{
  top: 0.625rem;
}

.-z-1{
  z-index: -1;
}

.z-1{
  z-index: 1;
}

.z-20{
  z-index: 20;
}

.z-30{
  z-index: 30;
}

.z-50{
  z-index: 50;
}

.z-999{
  z-index: 999;
}

.z-9999{
  z-index: 9999;
}

.z-99999{
  z-index: 99999;
}

.z-999999{
  z-index: 999999;
}

.col-span-1{
  grid-column: span 1 / span 1;
}

.col-span-2{
  grid-column: span 2 / span 2;
}

.col-span-3{
  grid-column: span 3 / span 3;
}

.col-span-4{
  grid-column: span 4 / span 4;
}

.col-span-5{
  grid-column: span 5 / span 5;
}

.col-span-6{
  grid-column: span 6 / span 6;
}

.col-span-7{
  grid-column: span 7 / span 7;
}

.float-start{
  float: inline-start;
}

.m-0{
  margin: 0px;
}

.m-3{
  margin: 0.75rem;
}

.m-4{
  margin: 1rem;
}

.mx-40{
  margin-left: 10rem;
  margin-right: 10rem;
}

.mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.my-1{
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.my-4{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mb-10{
  margin-bottom: 2.5rem;
}

.mb-14{
  margin-bottom: 3.5rem;
}

.mb-2{
  margin-bottom: 0.5rem;
}

.mb-2\.5{
  margin-bottom: 0.625rem;
}

.mb-3{
  margin-bottom: 0.75rem;
}

.mb-4{
  margin-bottom: 1rem;
}

.mb-5{
  margin-bottom: 1.25rem;
}

.mb-5\.5{
  margin-bottom: 1.375rem;
}

.mb-6{
  margin-bottom: 1.5rem;
}

.mb-8{
  margin-bottom: 2rem;
}

.mb-9{
  margin-bottom: 2.25rem;
}

.ml-4{
  margin-left: 1rem;
}

.mt-2{
  margin-top: 0.5rem;
}

.mt-2\.5{
  margin-top: 0.625rem;
}

.mt-4{
  margin-top: 1rem;
}

.mt-5{
  margin-top: 1.25rem;
}

.mt-6{
  margin-top: 1.5rem;
}

.mt-7{
  margin-top: 1.75rem;
}

.mt-7\.5{
  margin-top: 1.875rem;
}

.\!block{
  display: block !important;
}

.block{
  display: block;
}

.inline{
  display: inline;
}

.flex{
  display: flex;
}

.inline-flex{
  display: inline-flex;
}

.table{
  display: table;
}

.grid{
  display: grid;
}

.hidden{
  display: none;
}

.\!h-0{
  height: 0px !important;
}

.h-0{
  height: 0px;
}

.h-0\.5{
  height: 0.125rem;
}

.h-12{
  height: 3rem;
}

.h-16{
  height: 4rem;
}

.h-2{
  height: 0.5rem;
}

.h-4{
  height: 1rem;
}

.h-5{
  height: 1.25rem;
}

.h-5\.5{
  height: 1.375rem;
}

.h-6{
  height: 1.5rem;
}

.h-7{
  height: 1.75rem;
}

.h-7\.5{
  height: 1.875rem;
}

.h-8{
  height: 2rem;
}

.h-8\.5{
  height: 2.125rem;
}

.h-9{
  height: 2.25rem;
}

.h-90{
  height: 22.5rem;
}

.h-auto{
  height: auto;
}

.h-fit{
  height: -moz-fit-content;
  height: fit-content;
}

.h-full{
  height: 100%;
}

.h-screen{
  height: 100vh;
}

.max-h-90{
  max-height: 22.5rem;
}

.max-h-\[70vh\]{
  max-height: 70vh;
}

.\!w-full{
  width: 100% !important;
}

.w-0{
  width: 0px;
}

.w-0\.5{
  width: 0.125rem;
}

.w-1\/2{
  width: 50%;
}

.w-1\/4{
  width: 25%;
}

.w-12{
  width: 3rem;
}

.w-14{
  width: 3.5rem;
}

.w-16{
  width: 4rem;
}

.w-2{
  width: 0.5rem;
}

.w-3\/4{
  width: 75%;
}

.w-4{
  width: 1rem;
}

.w-4\/5{
  width: 80%;
}

.w-5{
  width: 1.25rem;
}

.w-5\.5{
  width: 1.375rem;
}

.w-6{
  width: 1.5rem;
}

.w-62\.5{
  width: 15.625rem;
}

.w-72{
  width: 18rem;
}

.w-72\.5{
  width: 18.125rem;
}

.w-75{
  width: 18.75rem;
}

.w-8{
  width: 2rem;
}

.w-8\.5{
  width: 2.125rem;
}

.w-9{
  width: 2.25rem;
}

.w-\[50vw\]{
  width: 50vw;
}

.w-\[90vw\]{
  width: 90vw;
}

.w-full{
  width: 100%;
}

.w-screen{
  width: 100vw;
}

.max-w-40{
  max-width: 10rem;
}

.max-w-screen-2xl{
  max-width: 1536px;
}

.flex-1{
  flex: 1 1 0%;
}

.flex-shrink-0{
  flex-shrink: 0;
}

.flex-grow{
  flex-grow: 1;
}

.border-collapse{
  border-collapse: collapse;
}

.\!translate-x-full{
  --tw-translate-x: 100% !important;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
}

.-translate-x-full{
  --tw-translate-x: -100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-y-1\/2{
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-x-0{
  --tw-translate-x: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-180{
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-45{
  --tw-rotate: 45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform{
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@keyframes ping{
  75%, 100%{
    transform: scale(2);
    opacity: 0;
  }
}

.animate-ping{
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes spin{
  to{
    transform: rotate(360deg);
  }
}

.animate-spin{
  animation: spin 1s linear infinite;
}

.cursor-pointer{
  cursor: pointer;
}

.select-none{
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.grid-cols-2{
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-4{
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-cols-6{
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.flex-col{
  flex-direction: column;
}

.flex-wrap{
  flex-wrap: wrap;
}

.content-center{
  align-content: center;
}

.items-center{
  align-items: center;
}

.justify-end{
  justify-content: flex-end;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.gap-1{
  gap: 0.25rem;
}

.gap-1\.5{
  gap: 0.375rem;
}

.gap-2{
  gap: 0.5rem;
}

.gap-2\.5{
  gap: 0.625rem;
}

.gap-3{
  gap: 0.75rem;
}

.gap-3\.5{
  gap: 0.875rem;
}

.gap-4{
  gap: 1rem;
}

.gap-5{
  gap: 1.25rem;
}

.space-y-3 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
}

.overflow-hidden{
  overflow: hidden;
}

.overflow-y-auto{
  overflow-y: auto;
}

.overflow-x-hidden{
  overflow-x: hidden;
}

.overflow-y-hidden{
  overflow-y: hidden;
}

.overflow-y-scroll{
  overflow-y: scroll;
}

.rounded{
  border-radius: 0.25rem;
}

.rounded-full{
  border-radius: 9999px;
}

.rounded-lg{
  border-radius: 0.5rem;
}

.rounded-md{
  border-radius: 0.375rem;
}

.rounded-sm{
  border-radius: 0.125rem;
}

.border{
  border-width: 1px;
}

.border-2{
  border-width: 2px;
}

.border-4{
  border-width: 4px;
}

.border-\[0\.5px\]{
  border-width: 0.5px;
}

.border-\[1\.5px\]{
  border-width: 1.5px;
}

.border-b{
  border-bottom-width: 1px;
}

.border-b-2{
  border-bottom-width: 2px;
}

.border-t{
  border-top-width: 1px;
}

.border-solid{
  border-style: solid;
}

.border-primary{
  --tw-border-opacity: 1;
  border-color: rgb(60 80 224 / var(--tw-border-opacity));
}

.border-sky-500{
  --tw-border-opacity: 1;
  border-color: rgb(14 165 233 / var(--tw-border-opacity));
}

.border-stroke{
  --tw-border-opacity: 1;
  border-color: rgb(226 232 240 / var(--tw-border-opacity));
}

.border-success{
  --tw-border-opacity: 1;
  border-color: rgb(33 150 83 / var(--tw-border-opacity));
}

.border-transparent{
  border-color: transparent;
}

.border-warning{
  --tw-border-opacity: 1;
  border-color: rgb(255 167 11 / var(--tw-border-opacity));
}

.border-neutral-500{
  --tw-border-opacity: 1;
  border-color: rgb(115 115 115 / var(--tw-border-opacity));
}

.border-t-transparent{
  border-top-color: transparent;
}

.\!bg-primary{
  --tw-bg-opacity: 1 !important;
  background-color: rgb(60 80 224 / var(--tw-bg-opacity)) !important;
}

.bg-black{
  --tw-bg-opacity: 1;
  background-color: rgb(28 36 52 / var(--tw-bg-opacity));
}

.bg-blue-600{
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity));
}

.bg-boxdark-2{
  --tw-bg-opacity: 1;
  background-color: rgb(26 34 44 / var(--tw-bg-opacity));
}

.bg-danger{
  --tw-bg-opacity: 1;
  background-color: rgb(211 64 83 / var(--tw-bg-opacity));
}

.bg-gray{
  --tw-bg-opacity: 1;
  background-color: rgb(239 244 251 / var(--tw-bg-opacity));
}

.bg-graydark{
  --tw-bg-opacity: 1;
  background-color: rgb(51 58 72 / var(--tw-bg-opacity));
}

.bg-meta-1{
  --tw-bg-opacity: 1;
  background-color: rgb(220 53 69 / var(--tw-bg-opacity));
}

.bg-meta-3{
  --tw-bg-opacity: 1;
  background-color: rgb(16 185 129 / var(--tw-bg-opacity));
}

.bg-meta-4{
  --tw-bg-opacity: 1;
  background-color: rgb(49 61 74 / var(--tw-bg-opacity));
}

.bg-meta-9{
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

.bg-primary{
  --tw-bg-opacity: 1;
  background-color: rgb(60 80 224 / var(--tw-bg-opacity));
}

.bg-stroke{
  --tw-bg-opacity: 1;
  background-color: rgb(226 232 240 / var(--tw-bg-opacity));
}

.bg-success{
  --tw-bg-opacity: 1;
  background-color: rgb(33 150 83 / var(--tw-bg-opacity));
}

.bg-transparent{
  background-color: transparent;
}

.bg-warning{
  --tw-bg-opacity: 1;
  background-color: rgb(255 167 11 / var(--tw-bg-opacity));
}

.bg-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-neutral-500{
  --tw-bg-opacity: 1;
  background-color: rgb(115 115 115 / var(--tw-bg-opacity));
}

.bg-opacity-10{
  --tw-bg-opacity: 0.1;
}

.bg-opacity-50{
  --tw-bg-opacity: 0.5;
}

.fill-body{
  fill: #64748B;
}

.fill-current{
  fill: currentColor;
}

.fill-primary{
  fill: #3C50E0;
}

.stroke-current{
  stroke: currentColor;
}

.p-1{
  padding: 0.25rem;
}

.p-1\.5{
  padding: 0.375rem;
}

.p-3{
  padding: 0.75rem;
}

.p-4{
  padding: 1rem;
}

.p-7{
  padding: 1.75rem;
}

.p-7\.5{
  padding: 1.875rem;
}

.px-10{
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.px-2{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-3{
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-4{
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-4\.5{
  padding-left: 1.125rem;
  padding-right: 1.125rem;
}

.px-5{
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-6{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-7{
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.px-7\.5{
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}

.py-1{
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-10{
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.py-2{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-3{
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-4{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-4\.5{
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;
}

.py-5{
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.py-5\.5{
  padding-top: 1.375rem;
  padding-bottom: 1.375rem;
}

.py-6{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-7{
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.py-7\.5{
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}

.pl-6{
  padding-left: 1.5rem;
}

.pl-9{
  padding-left: 2.25rem;
}

.pr-4{
  padding-right: 1rem;
}

.text-left{
  text-align: left;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

.align-middle{
  vertical-align: middle;
}

.text-2xl{
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl{
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-sm{
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-title-md2{
  font-size: 26px;
  line-height: 30px;
}

.text-title-xsm{
  font-size: 18px;
  line-height: 24px;
}

.text-xl{
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-xs{
  font-size: 0.75rem;
  line-height: 1rem;
}

.font-bold{
  font-weight: 700;
}

.font-medium{
  font-weight: 500;
}

.font-normal{
  font-weight: 400;
}

.font-semibold{
  font-weight: 600;
}

.italic{
  font-style: italic;
}

.leading-relaxed{
  line-height: 1.625;
}

.text-\[\#222\]{
  --tw-text-opacity: 1;
  color: rgb(34 34 34 / var(--tw-text-opacity));
}

.text-black{
  --tw-text-opacity: 1;
  color: rgb(28 36 52 / var(--tw-text-opacity));
}

.text-bodydark{
  --tw-text-opacity: 1;
  color: rgb(174 183 192 / var(--tw-text-opacity));
}

.text-bodydark1{
  --tw-text-opacity: 1;
  color: rgb(222 228 238 / var(--tw-text-opacity));
}

.text-bodydark2{
  --tw-text-opacity: 1;
  color: rgb(138 153 175 / var(--tw-text-opacity));
}

.text-danger{
  --tw-text-opacity: 1;
  color: rgb(211 64 83 / var(--tw-text-opacity));
}

.text-meta-5{
  --tw-text-opacity: 1;
  color: rgb(37 154 230 / var(--tw-text-opacity));
}

.text-primary{
  --tw-text-opacity: 1;
  color: rgb(60 80 224 / var(--tw-text-opacity));
}

.text-success{
  --tw-text-opacity: 1;
  color: rgb(33 150 83 / var(--tw-text-opacity));
}

.text-warning{
  --tw-text-opacity: 1;
  color: rgb(255 167 11 / var(--tw-text-opacity));
}

.text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-neutral-500{
  --tw-text-opacity: 1;
  color: rgb(115 115 115 / var(--tw-text-opacity));
}

.opacity-0{
  opacity: 0;
}

.opacity-75{
  opacity: 0.75;
}

.shadow-2{
  --tw-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
  --tw-shadow-colored: 0px 1px 4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-default{
  --tw-shadow: 0px 8px 13px -3px rgba(0, 0, 0, 0.07);
  --tw-shadow-colored: 0px 8px 13px -3px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-sm{
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-switcher{
  --tw-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2), inset 0px 2px 2px #FFFFFF, inset 0px -1px 1px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 0px 2px 4px var(--tw-shadow-color), inset 0px 2px 2px var(--tw-shadow-color), inset 0px -1px 1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.outline-none{
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.drop-shadow-1{
  --tw-drop-shadow: drop-shadow(0px 1px 0px #E2E8F0);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.filter{
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.transition{
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.delay-150{
  transition-delay: 150ms;
}

.delay-200{
  transition-delay: 200ms;
}

.delay-300{
  transition-delay: 300ms;
}

.delay-500{
  transition-delay: 500ms;
}

.delay-\[0\]{
  transition-delay: 0;
}

.duration-200{
  transition-duration: 200ms;
}

.duration-300{
  transition-duration: 300ms;
}

.duration-75{
  transition-duration: 75ms;
}

.ease-in-out{
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.ease-linear{
  transition-timing-function: linear;
}

/* Chrome, Safari and Opera */

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* third-party libraries CSS */

.tableCheckbox:checked ~ div span{
  opacity: 1;
}

.tableCheckbox:checked ~ div{
  --tw-border-opacity: 1;
  border-color: rgb(60 80 224 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(60 80 224 / var(--tw-bg-opacity));
}

.apexcharts-legend-text{
  --tw-text-opacity: 1 !important;
  color: rgb(100 116 139 / var(--tw-text-opacity)) !important;
}

.apexcharts-legend-text:is(.dark *){
  --tw-text-opacity: 1 !important;
  color: rgb(174 183 192 / var(--tw-text-opacity)) !important;
}

.apexcharts-text{
  fill: #64748B !important;
}

.apexcharts-text:is(.dark *){
  fill: #AEB7C0 !important;
}

.apexcharts-xcrosshairs{
  fill: #E2E8F0 !important;
}

.apexcharts-xcrosshairs:is(.dark *){
  fill: #2E3A47 !important;
}

.apexcharts-gridline{
  stroke: #E2E8F0 !important;
}

.apexcharts-gridline:is(.dark *){
  stroke: #2E3A47 !important;
}

.apexcharts-series.apexcharts-pie-series path:is(.dark *){
  stroke: transparent !important;
}

.apexcharts-legend-series{
  display: inline-flex !important;
  gap: 0.375rem;
}

.apexcharts-tooltip.apexcharts-theme-light:is(.dark *){
  --tw-border-opacity: 1 !important;
  border-color: rgb(46 58 71 / var(--tw-border-opacity)) !important;
  --tw-bg-opacity: 1 !important;
  background-color: rgb(36 48 63 / var(--tw-bg-opacity)) !important;
}

.apexcharts-tooltip.apexcharts-theme-light .apexcharts-tooltip-title:is(.dark *){
  --tw-border-opacity: 1 !important;
  border-color: rgb(46 58 71 / var(--tw-border-opacity)) !important;
  --tw-bg-opacity: 1 !important;
  background-color: rgb(49 61 74 / var(--tw-bg-opacity)) !important;
}

.apexcharts-xaxistooltip:is(.dark *),
.apexcharts-yaxistooltip:is(.dark *){
  --tw-border-opacity: 1 !important;
  border-color: rgb(49 61 74 / var(--tw-border-opacity)) !important;
  --tw-bg-opacity: 1 !important;
  background-color: rgb(49 61 74 / var(--tw-bg-opacity)) !important;
  --tw-text-opacity: 1 !important;
  color: rgb(222 228 238 / var(--tw-text-opacity)) !important;
}

.apexcharts-xaxistooltip-bottom:after{
  --tw-border-opacity: 1 !important;
  border-bottom-color: rgb(239 244 251 / var(--tw-border-opacity)) !important;
}

.apexcharts-xaxistooltip-bottom:is(.dark *):after{
  --tw-border-opacity: 1 !important;
  border-bottom-color: rgb(49 61 74 / var(--tw-border-opacity)) !important;
}

.apexcharts-xaxistooltip-bottom:before{
  --tw-border-opacity: 1 !important;
  border-bottom-color: rgb(239 244 251 / var(--tw-border-opacity)) !important;
}

.apexcharts-xaxistooltip-bottom:is(.dark *):before{
  --tw-border-opacity: 1 !important;
  border-bottom-color: rgb(49 61 74 / var(--tw-border-opacity)) !important;
}

.apexcharts-xaxistooltip-bottom{
  border-radius: 0.25rem !important;
  border-style: none !important;
  --tw-bg-opacity: 1 !important;
  background-color: rgb(239 244 251 / var(--tw-bg-opacity)) !important;
  font-size: 0.75rem !important;
  line-height: 1rem !important;
  font-weight: 500 !important;
  --tw-text-opacity: 1 !important;
  color: rgb(28 36 52 / var(--tw-text-opacity)) !important;
}

.apexcharts-xaxistooltip-bottom:is(.dark *){
  --tw-text-opacity: 1 !important;
  color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
}

.apexcharts-tooltip-series-group{
  padding-left: 0.375rem !important;
}

.flatpickr-wrapper{
  width: 100%;
}

.flatpickr-months .flatpickr-prev-month:hover svg,
.flatpickr-months .flatpickr-next-month:hover svg{
  fill: #3C50E0;
}

.flatpickr-calendar.arrowTop:is(.dark *):before{
  --tw-border-opacity: 1 !important;
  border-bottom-color: rgb(36 48 63 / var(--tw-border-opacity)) !important;
}

.flatpickr-calendar.arrowTop:is(.dark *):after{
  --tw-border-opacity: 1 !important;
  border-bottom-color: rgb(36 48 63 / var(--tw-border-opacity)) !important;
}

.flatpickr-calendar{
  padding: 1.5rem !important;
}

.flatpickr-calendar:is(.dark *){
  --tw-bg-opacity: 1 !important;
  background-color: rgb(36 48 63 / var(--tw-bg-opacity)) !important;
  --tw-text-opacity: 1 !important;
  color: rgb(174 183 192 / var(--tw-text-opacity)) !important;
  --tw-shadow: 1px 0 0 #313D4A, -1px 0 0 #313D4A, 0 1px 0 #313D4A, 0 -1px 0 #313D4A, 0 3px 13px rgb(0 0 0 / 8%) !important;
  --tw-shadow-colored: 1px 0 0 var(--tw-shadow-color), -1px 0 0 var(--tw-shadow-color), 0 1px 0 var(--tw-shadow-color), 0 -1px 0 var(--tw-shadow-color), 0 3px 13px var(--tw-shadow-color) !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}

@media (min-width: 375px){
  .flatpickr-calendar{
    width: auto !important;
  }
}

.flatpickr-day:is(.dark *){
  --tw-text-opacity: 1 !important;
  color: rgb(174 183 192 / var(--tw-text-opacity)) !important;
}

.flatpickr-day:hover:is(.dark *){
  --tw-border-opacity: 1 !important;
  border-color: rgb(49 61 74 / var(--tw-border-opacity)) !important;
  --tw-bg-opacity: 1 !important;
  background-color: rgb(49 61 74 / var(--tw-bg-opacity)) !important;
}

.flatpickr-months .flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month{
  top: 1.75rem !important;
}

.flatpickr-months .flatpickr-prev-month:is(.dark *),
.flatpickr-months .flatpickr-next-month:is(.dark *){
  fill: #FFFFFF !important;
  --tw-text-opacity: 1 !important;
  color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
}

.flatpickr-months .flatpickr-prev-month.flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month.flatpickr-prev-month{
  left: 1.75rem !important;
}

.flatpickr-months .flatpickr-prev-month.flatpickr-next-month,
.flatpickr-months .flatpickr-next-month.flatpickr-next-month{
  right: 1.75rem !important;
}

span.flatpickr-weekday:is(.dark *),
.flatpickr-months .flatpickr-month:is(.dark *){
  fill: #FFFFFF !important;
  --tw-text-opacity: 1 !important;
  color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
}

.flatpickr-day.inRange:is(.dark *){
  --tw-shadow: -5px 0 0 #313D4A, 5px 0 0 #313D4A !important;
  --tw-shadow-colored: -5px 0 0 var(--tw-shadow-color), 5px 0 0 var(--tw-shadow-color) !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}

.flatpickr-day.inRange {
  box-shadow: -5px 0 0 #eff4fb, 5px 0 0 #eff4fb;
}

.flatpickr-day.inRange,
.flatpickr-day.prevMonthDay.inRange,
.flatpickr-day.nextMonthDay.inRange,
.flatpickr-day.today.inRange,
.flatpickr-day.prevMonthDay.today.inRange,
.flatpickr-day.nextMonthDay.today.inRange,
.flatpickr-day:hover,
.flatpickr-day.prevMonthDay:hover,
.flatpickr-day.nextMonthDay:hover,
.flatpickr-day:focus,
.flatpickr-day.prevMonthDay:focus,
.flatpickr-day.nextMonthDay:focus{
  --tw-border-opacity: 1;
  border-color: rgb(239 244 251 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(239 244 251 / var(--tw-bg-opacity));
}

.flatpickr-day.inRange:is(.dark *),
.flatpickr-day.prevMonthDay.inRange:is(.dark *),
.flatpickr-day.nextMonthDay.inRange:is(.dark *),
.flatpickr-day.today.inRange:is(.dark *),
.flatpickr-day.prevMonthDay.today.inRange:is(.dark *),
.flatpickr-day.nextMonthDay.today.inRange:is(.dark *),
.flatpickr-day:hover:is(.dark *),
.flatpickr-day.prevMonthDay:hover:is(.dark *),
.flatpickr-day.nextMonthDay:hover:is(.dark *),
.flatpickr-day:focus:is(.dark *),
.flatpickr-day.prevMonthDay:focus:is(.dark *),
.flatpickr-day.nextMonthDay:focus:is(.dark *){
  --tw-border-opacity: 1 !important;
  border-color: rgb(49 61 74 / var(--tw-border-opacity)) !important;
  --tw-bg-opacity: 1 !important;
  background-color: rgb(49 61 74 / var(--tw-bg-opacity)) !important;
}

.flatpickr-day.selected:is(.dark *),
.flatpickr-day.startRange:is(.dark *),
.flatpickr-day.selected:is(.dark *),
.flatpickr-day.endRange:is(.dark *){
  --tw-text-opacity: 1 !important;
  color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
  background: #3c50e0;
  --tw-border-opacity: 1 !important;
  border-color: rgb(60 80 224 / var(--tw-border-opacity)) !important;
  --tw-bg-opacity: 1 !important;
  background-color: rgb(60 80 224 / var(--tw-bg-opacity)) !important;
}

.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.inRange:hover,
.flatpickr-day.startRange.inRange:hover,
.flatpickr-day.endRange.inRange:hover,
.flatpickr-day.selected:focus:hover,
.flatpickr-day.startRange:focus:hover,
.flatpickr-day.endRange:focus:hover,
.flatpickr-day.selected:hover:hover,
.flatpickr-day.startRange:hover:hover,
.flatpickr-day.endRange:hover:hover,
.flatpickr-day.selected.prevMonthDay:hover,
.flatpickr-day.startRange.prevMonthDay:hover,
.flatpickr-day.endRange.prevMonthDay:hover,
.flatpickr-day.selected.nextMonthDay:hover,
.flatpickr-day.startRange.nextMonthDay:hover,
.flatpickr-day.endRange.nextMonthDay:hover{
  --tw-border-opacity: 1 !important;
  border-color: rgb(60 80 224 / var(--tw-border-opacity)) !important;
  --tw-bg-opacity: 1 !important;
  background-color: rgb(60 80 224 / var(--tw-bg-opacity)) !important;
}

.flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n + 1)),
.flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n + 1)),
.flatpickr-day.endRange.startRange + .endRange:not(:nth-child(7n + 1)) {
  box-shadow: -10px 0 0 #3c50e0;
}

.map-btn .jvm-zoom-btn{
  display: flex;
  height: 1.875rem;
  width: 1.875rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(226 232 240 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0.125rem;
  font-size: 1.5rem;
  line-height: 2rem;
  line-height: 1;
  --tw-text-opacity: 1;
  color: rgb(100 116 139 / var(--tw-text-opacity));
}

.map-btn .jvm-zoom-btn:hover{
  --tw-border-opacity: 1;
  border-color: rgb(60 80 224 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(60 80 224 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.map-btn .jvm-zoom-btn:is(.dark *){
  --tw-border-opacity: 1;
  border-color: rgb(46 58 71 / var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgb(174 183 192 / var(--tw-text-opacity));
}

.map-btn .jvm-zoom-btn:hover:is(.dark *){
  --tw-border-opacity: 1;
  border-color: rgb(60 80 224 / var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.mapOne .jvm-zoom-btn{
  left: auto;
  top: auto;
  bottom: 0px;
}

.mapOne .jvm-zoom-btn.jvm-zoomin{
  right: 2.5rem;
}

.mapOne .jvm-zoom-btn.jvm-zoomout{
  right: 0px;
}

.mapTwo .jvm-zoom-btn{
  top: auto;
  bottom: 0px;
}

.mapTwo .jvm-zoom-btn.jvm-zoomin{
  left: 0px;
}

.mapTwo .jvm-zoom-btn.jvm-zoomout{
  left: 2.5rem;
}

.taskCheckbox:checked ~ .box span{
  opacity: 1;
}

.taskCheckbox:checked ~ p{
  text-decoration-line: line-through;
}

.taskCheckbox:checked ~ .box{
  --tw-border-opacity: 1;
  border-color: rgb(60 80 224 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(60 80 224 / var(--tw-bg-opacity));
}

.taskCheckbox:checked ~ .box:is(.dark *){
  --tw-border-opacity: 1;
  border-color: rgb(60 80 224 / var(--tw-border-opacity));
}

.custom-input-date::-webkit-calendar-picker-indicator {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
}

.custom-input-date-1::-webkit-calendar-picker-indicator {
  background-image: url(../images/icon/icon-calendar.svg);
}

.custom-input-date-2::-webkit-calendar-picker-indicator {
  background-image: url(../images/icon/icon-arrow-down.svg);
}

[x-cloak] {
  display: none !important;
}

.hover\:bg-gray-2:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(247 249 252 / var(--tw-bg-opacity));
}

.hover\:bg-graydark:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(51 58 72 / var(--tw-bg-opacity));
}

.hover\:bg-opacity-70:hover{
  --tw-bg-opacity: 0.7;
}

.hover\:bg-opacity-90:hover{
  --tw-bg-opacity: 0.9;
}

.hover\:fill-primary:hover{
  fill: #3C50E0;
}

.hover\:text-primary:hover{
  --tw-text-opacity: 1;
  color: rgb(60 80 224 / var(--tw-text-opacity));
}

.hover\:text-white:hover{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.focus\:border-primary:focus{
  --tw-border-opacity: 1;
  border-color: rgb(60 80 224 / var(--tw-border-opacity));
}

.focus\:outline-none:focus{
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.active\:border-primary:active{
  --tw-border-opacity: 1;
  border-color: rgb(60 80 224 / var(--tw-border-opacity));
}

.disabled\:cursor-default:disabled{
  cursor: default;
}

.disabled\:bg-whiter:disabled{
  --tw-bg-opacity: 1;
  background-color: rgb(245 247 253 / var(--tw-bg-opacity));
}

.dark\:inline-block:is(.dark *){
  display: inline-block;
}

.dark\:hidden:is(.dark *){
  display: none;
}

.dark\:border-form-strokedark:is(.dark *){
  --tw-border-opacity: 1;
  border-color: rgb(61 77 96 / var(--tw-border-opacity));
}

.dark\:border-strokedark:is(.dark *){
  --tw-border-opacity: 1;
  border-color: rgb(46 58 71 / var(--tw-border-opacity));
}

.dark\:border-white:is(.dark *){
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
}

.dark\:\!bg-white:is(.dark *){
  --tw-bg-opacity: 1 !important;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity)) !important;
}

.dark\:bg-\[\#5A616B\]:is(.dark *){
  --tw-bg-opacity: 1;
  background-color: rgb(90 97 107 / var(--tw-bg-opacity));
}

.dark\:bg-black:is(.dark *){
  --tw-bg-opacity: 1;
  background-color: rgb(28 36 52 / var(--tw-bg-opacity));
}

.dark\:bg-boxdark:is(.dark *){
  --tw-bg-opacity: 1;
  background-color: rgb(36 48 63 / var(--tw-bg-opacity));
}

.dark\:bg-form-input:is(.dark *){
  --tw-bg-opacity: 1;
  background-color: rgb(29 42 57 / var(--tw-bg-opacity));
}

.dark\:bg-meta-4:is(.dark *){
  --tw-bg-opacity: 1;
  background-color: rgb(49 61 74 / var(--tw-bg-opacity));
}

.dark\:bg-white:is(.dark *){
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.dark\:fill-bodydark:is(.dark *){
  fill: #AEB7C0;
}

.dark\:fill-white:is(.dark *){
  fill: #FFFFFF;
}

.dark\:text-bodydark:is(.dark *){
  --tw-text-opacity: 1;
  color: rgb(174 183 192 / var(--tw-text-opacity));
}

.dark\:text-meta-5:is(.dark *){
  --tw-text-opacity: 1;
  color: rgb(37 154 230 / var(--tw-text-opacity));
}

.dark\:text-white:is(.dark *){
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.dark\:shadow-none:is(.dark *){
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.dark\:drop-shadow-none:is(.dark *){
  --tw-drop-shadow: drop-shadow(0 0 #0000);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.dark\:hover\:bg-meta-4:hover:is(.dark *){
  --tw-bg-opacity: 1;
  background-color: rgb(49 61 74 / var(--tw-bg-opacity));
}

.dark\:hover\:bg-opacity-70:hover:is(.dark *){
  --tw-bg-opacity: 0.7;
}

.dark\:hover\:fill-primary:hover:is(.dark *){
  fill: #3C50E0;
}

.dark\:focus\:border-primary:focus:is(.dark *){
  --tw-border-opacity: 1;
  border-color: rgb(60 80 224 / var(--tw-border-opacity));
}

@media (min-width: 375px){
  .\32xsm\:gap-4{
    gap: 1rem;
  }

  .\32xsm\:gap-7{
    gap: 1.75rem;
  }
}

@media (min-width: 640px){
  .sm\:right-0{
    right: 0px;
  }

  .sm\:block{
    display: block;
  }

  .sm\:flex{
    display: flex;
  }

  .sm\:w-80{
    width: 20rem;
  }

  .sm\:grid-cols-8{
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }

  .sm\:flex-row{
    flex-direction: row;
  }

  .sm\:items-center{
    align-items: center;
  }

  .sm\:justify-between{
    justify-content: space-between;
  }

  .sm\:gap-10{
    gap: 2.5rem;
  }

  .sm\:gap-4{
    gap: 1rem;
  }

  .sm\:p-12{
    padding: 3rem;
  }

  .sm\:p-12\.5{
    padding: 3.125rem;
  }

  .sm\:py-20{
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .sm\:text-title-md{
    font-size: 24px;
    line-height: 30px;
  }

  .sm\:text-title-xl2{
    font-size: 33px;
    line-height: 45px;
  }
}

@media (min-width: 768px){
  .md\:grid-cols-2{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:p-6{
    padding: 1.5rem;
  }

  .md\:px-6{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .md\:text-base{
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media (min-width: 1024px){
  .lg\:static{
    position: static;
  }

  .lg\:mt-9{
    margin-top: 2.25rem;
  }

  .lg\:block{
    display: block;
  }

  .lg\:grid{
    display: grid;
  }

  .lg\:hidden{
    display: none;
  }

  .lg\:translate-x-0{
    --tw-translate-x: 0px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .lg\:justify-center{
    justify-content: center;
  }

  .lg\:px-6{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .lg\:px-8{
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .lg\:py-6{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .lg\:py-6\.5{
    padding-top: 1.625rem;
    padding-bottom: 1.625rem;
  }

  .lg\:text-base{
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media (min-width: 1280px){
  .xl\:w-125{
    width: 31.25rem;
  }

  .xl\:border-l-2{
    border-left-width: 2px;
  }

  .xl\:p-17{
    padding: 4.25rem;
  }

  .xl\:p-17\.5{
    padding: 4.375rem;
  }

  .xl\:p-7{
    padding: 1.75rem;
  }

  .xl\:p-7\.5{
    padding: 1.875rem;
  }

  .xl\:px-10{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .xl\:px-6{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .xl\:px-7{
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }

  .xl\:px-7\.5{
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }
}

@media (min-width: 1536px){
  .\32xl\:p-10{
    padding: 2.5rem;
  }

  .\32xl\:px-11{
    padding-left: 2.75rem;
    padding-right: 2.75rem;
  }

  .\32xl\:px-7{
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }

  .\32xl\:px-7\.5{
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }
}
