<div class="grid grid-cols-6 border-t border-stroke px-4 py-4.5 dark:border-strokedark sm:grid-cols-8 md:px-6 2xl:px-7.5">
    <div class="col-span-4 flex items-center">
      <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
        <p class="text-sm font-medium text-black dark:text-white">{{ k.nama }}</p>
      </div>
    </div>
    <div class="col-span-1 flex items-center">
      <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
        <p class="text-sm font-medium text-black dark:text-white">{{ k.tgl_mulai }}</p>
      </div>
    </div>
    <div class="col-span-1 flex items-center">
      <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
        <p class="text-sm font-medium text-black dark:text-white">{{ k.tgl_selesai }}</p>
      </div>
    </div>
    <div class="col-span-1 flex items-center">
      {% if not "Valid" in k.status %}
      <div class="inline-flex items-center justify-center rounded-full border border-success px-5 py-1 text-center font-bold text-success hover:bg-opacity-90 mx-auto">
        <p class="text-sm">{{ k.status }}</p>
      </div>
      {% else %}
      <div class="inline-flex items-center justify-center rounded-full border border-warning px-5 py-1 text-center font-bold text-warning hover:bg-opacity-90 mx-auto">
          <p class="text-sm">{{ k.status }}</p>
        </div>
      {% endif %}
    </div>
    <div class="flex gap-5 justify-end col-span-1 mx-auto">
      {% if k.status == "" or k.status == "Usulan" %}
        <button x-on:click="
              formUrl = '{% url "kegiatan.edit" k.id %}'; 
              formBtn = 'Save'; 
              isModalOpen = true; 
              modalTitle = 'Edit RKT'; 
              kegiatanEdit = { 
                  nomor: '{{ k.nomor }}',
                  nama: '{{ k.nama }}',
                  tema: '{{ k.tema }}',
                  tgl_mulai: '{{ k.tgl_mulai|date:"Y-m-d" }}',
                  tgl_selesai: '{{ k.tgl_selesai|date:"Y-m-d" }}',
                  mhs_pj: `{{ k.mhs_pj }}`,
                  mhs_koord: `{{ k.mhs_koord }}`,
                  tempat: `{{ k.tempat }}`,
                  max_peserta: `{{ k.max_peserta }}`,
                  rencana_anggaran: `{{ k.rencana_anggaran }}`
              }; 
              nameResult= {
                mhs_pj: {
                  display: true,
                  value: '{{ k.mhs_pj.nama }}'
                },
                mhs_koord: {
                  display: true,
                  value: '{{ k.mhs_koord.nama }}'
                },
              };
              "
          >
          <i class="fa-solid fa-pen"></i>
        </button>
        <form action="{% url 'kegiatan.delete' k.id %}" method="post">
          {% csrf_token %}
          <button type="submit">
            <i class="fa-solid fa-trash"></i>
          </button>
        </form>
      {% elif k.status == "Usulan Valid" %}
        <a href="{% url 'proposal.show' k.id %}" class="bg-primary px-2 py-1 text-white rounded-md">
          <i class="fa-solid fa-plus"></i>
          Proposal
        </a>
      {% elif k.status == "Proposal" %}
        <a href="{% url 'proposal.show' k.id %}" class="bg-primary px-2 py-1 text-white rounded-md">
          <i class="fa-solid fa-pen"></i>
          Proposal
        </a>
      {% elif k.status == "Proposal Valid" %}
        <a href="{% url 'lpj.show' k.id %}" class="bg-primary px-2 py-1 text-white rounded-md">
          <i class="fa-solid fa-plus"></i>
          LPJ
        </a>
      {% elif k.status == "LPJ" %}
        <a href="{% url 'lpj.show' k.id %}" class="bg-primary px-2 py-1 text-white rounded-md">
          <i class="fa-solid fa-pen"></i>
          LPJ
        </a>
      {% elif k.status == "LPJ Valid" %}
        <a href="{% url 'lpj.show' k.id %}" class="bg-primary px-2 py-1 text-white rounded-md">
          <i class="fa-solid fa-document"></i>
          LPJ
        </a>
      {% endif %}
    </div>
  </div>