{% load static %}
{% load list_tags %}
<div x-data="{ 
    'isModalOpen': false, 
          dokumentasiEdit: {}, 
          modalTitle: '', 
          formUrl: '', 
          formBtn: '', 
        }"
     class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
    <div class="px-4 py-6 md:px-6 xl:px-7.5 flex justify-between">
        <div>
      <input type="text"
             placeholder="Search"
             x-model="input_filter"
             class="w-1/4 rounded-lg border-[1.5px] border-stroke bg-transparent px-5 py-2 font-normal text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary" />
      <a href="#"
         class="inline-flex items-center justify-center rounded-md border border-primary px-10 py-2 text-center font-medium text-primary hover:bg-opacity-90 lg:px-8 xl:px-10">
        Filter
      </a>
    </div>
        <div>
            <button id="modalOpen"
                    x-on:click="
                        formUrl = '{% url "dokumentasi.create" LPJID %}?menu=dokumentasi'; 
                        formBtn = 'Create'; 
                        isModalOpen = true; 
                        modalTitle = 'Create Dokumentasi'; 
                        dokumentasiEdit = { 
                        }; "
                    class="inline-flex items-center justify-center rounded-md bg-primary px-10 py-2 text-center font-medium text-white hover:bg-opacity-90 lg:px-8 xl:px-10">
                Create
            </button>
        </div>
    </div>
    <div class="grid grid-cols-6 border-t border-stroke px-4 py-4.5 dark:border-strokedark sm:grid-cols-8 md:px-6 2xl:px-7.5">
        <div class="col-span-3 hidden items-center sm:flex">
            <p class="font-medium">Foto Dokumentasi</p>
        </div>
        <div class="col-span-4 hidden items-center sm:flex">
            <p class="font-medium">Keterangan</p>
        </div>
    </div>
    {% for d in dokumentasi %}
    <div class="grid grid-cols-6 border-t border-stroke px-4 py-4.5 dark:border-strokedark sm:grid-cols-8 md:px-6 2xl:px-7.5">
      <div class="col-span-3 flex items-center">
        <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
          <img src="{% get_media_prefix  %}{{ d.file_foto }}" alt="" width="200">
        </div>
      </div>
      <div class="col-span-4 flex items-center">
        <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
          <p class="text-sm font-medium text-black dark:text-white">{{ d.keterangan }}</p>
        </div>
      </div>
      <div class="flex gap-5 justify-center item-center">
        <button 
          x-on:click="
              formUrl = '{% url "dokumentasi.edit" LPJID d.id %}?menu=dokumentasi'; 
              formBtn = 'Save'; 
              isModalOpen = true; 
              modalTitle = 'Edit Dokumentasi'; 
              dokumentasiEdit = { 
                file_foto: '{{ d.file_foto.url|split_last:"/" }}',
                keterangan: '{{ d.keterangan }}',
              }; ">
          <i class="fa-solid fa-pen"></i>
        </button>
        <form action="{% url 'dokumentasi.delete' LPJID d.id %}?menu=dokumentasi" method="post">
          <button type="submit" class="h-full">
            {% csrf_token %}
            <i class="fa-solid fa-trash"></i>
          </button>
        </form>
      </div>
    </div>
  {% endfor %}
  {% include "lpj/partials/dokumentasi_modal.html" %}
    </div>