<div x-data="{ 
  hasilEdit: {
    hasil: `{{ kegiatan.hasil }}`,
  }}">

  <form action="{% url 'hasil.edit' LPJID %}?menu=hasil" method="post">
    {% csrf_token %}
    {{ form }}
    <button id="modalOpen"
      x-on:click="
      formBtn = 'Create'; 
      isModalOpen = true; 
      modalTitle = 'Create Acara'; 
      acaraEdit = { 
        nama: '',
        waktu_mulai: '', 
        waktu_selesai:   '', 
        seksi: '', 
      }; "
      class="inline-flex items-center justify-center rounded-md bg-primary px-10 py-2 text-center font-medium text-white hover:bg-opacity-90 lg:px-8 xl:px-10">
      Save
    </button>
  </form>
</div>