
<div x-data="{ 
    'isModalOpen': false, 
          realisasiDanaAkademikEdit: {}, 
          modalTitle: '', 
          formUrl: '', 
          formBtn: '', 
        }"
     class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
    <div class="px-4 py-6 md:px-6 xl:px-7.5 flex justify-between">
      <div>
        <input type="text"
              placeholder="Search"
              x-model="input_filter"
              class="w-1/4 rounded-lg border-[1.5px] border-stroke bg-transparent px-5 py-2 font-normal text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary" />
        <a href="#"
          class="inline-flex items-center justify-center rounded-md border border-primary px-10 py-2 text-center font-medium text-primary hover:bg-opacity-90 lg:px-8 xl:px-10">
          Filter
        </a>
      </div>
      <div>
          <button id="modalOpen"
                  x-on:click="
                      formUrl = '{% url "pemasukan.tambahan" LPJID %}?menu=realDanaAkademik'; 
                      formBtn = 'Create'; 
                      isModalOpen = true; 
                      modalTitle = 'Tambah Dana Akademik'; 
                      realisasiDanaAkademikEdit = { 
                      }; "
                  class="inline-flex items-center justify-center rounded-md bg-primary px-10 py-2 text-center font-medium text-white hover:bg-opacity-90 lg:px-8 xl:px-10">
              Tambahan
          </button>
      </div>
  </div>
    <div class="grid grid-cols-6 border-t border-stroke px-4 py-4.5 dark:border-strokedark sm:grid-cols-8 md:px-6 2xl:px-7.5">
        <div class="col-span-3 hidden items-center sm:flex">
            <p class="font-medium">Sumber Dana</p>
        </div>
        <div class="col-span-2 hidden items-center sm:flex">
            <p class="font-medium">Total Dana</p>
        </div>
        <div class="col-span-2 hidden items-center sm:flex">
            <p class="font-medium">( Real Total Dana )</p>
        </div>
    </div>
    {% for p in pemasukan %}
    <div class="grid grid-cols-6 border-t border-stroke px-4 py-4.5 dark:border-strokedark sm:grid-cols-8 md:px-6 2xl:px-7.5">
      <div class="col-span-3 flex items-center">
        <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
          <p class="text-sm font-medium text-black dark:text-white">{{ p.sumber_dana }}</p>
        </div>
      </div>
      <div class="col-span-2 flex items-center">
        <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
          {% if p.tambahan %}
              <p class="text-sm font-medium text-black dark:text-white">( Tambahan )</p>
          {% else %}
            <p class="text-sm font-medium text-black dark:text-white">{{ p.total_dana }}</p>
          {% endif %}
        </div>
      </div>
      <div class="col-span-2 flex items-center">
        <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
          {% if p.real_total_dana %}
            <p class="text-sm text-success font-bold dark:text-white">{{ p.real_total_dana }}</p>
          {% else %}
            <p class="text-sm font-medium text-danger dark:text-white">Belum Diinput</p>
          {% endif %}
        </div>
      </div>
      <div class="flex gap-5">
        <button x-on:click="
              formUrl = '{% url "pemasukan.realisasi" LPJID p.id %}?menu=realDanaAkademik'; 
              formBtn = 'Save'; 
              isModalOpen = true; 
              modalTitle = 'Edit Sumber Dana Anggaran'; 
              realisasiDanaAkademikEdit = { 
                real_total_dana: '{{ p.real_total_dana }}',
              }; ">
          {% if p.real_total_dana %}
            <i class="fa-solid fa-pen"></i>
          {% else %}
            <i class="fa-solid fa-plus"></i>
          {% endif %}
        </button>
      </div>
    </div>
  {% endfor %}
  {% include "lpj/partials/real_dana_akademik_modal.html" %}
    </div>