<div x-data="{ 
    'isModalOpen': false, 
          realisasiPengeluaranEdit: {}, 
          modalTitle: '', 
          formUrl: '', 
          formBtn: '', 
          switcherToggle: false,
        }"
     class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
  <div class="px-4 py-6 md:px-6 xl:px-7.5 flex justify-between">
    <div>
      <input type="text"
              placeholder="Search"
              x-model="input_filter"
              class="w-1/4 rounded-lg border-[1.5px] border-stroke bg-transparent px-5 py-2 font-normal text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary" />
      <a href="#"
          class="inline-flex items-center justify-center rounded-md border border-primary px-10 py-2 text-center font-medium text-primary hover:bg-opacity-90 lg:px-8 xl:px-10">
        Filter
      </a>
    </div>
    <div>
      <button id="modalOpen"
          x-on:click="
              formUrl = '{% url "anggaran.tambahan" LPJID %}?menu=realPengeluaran'; 
              formBtn = 'Tambah'; 
              isModalOpen = true; 
              modalTitle = 'Create Pengeluaran'; 
              realisasiPengeluaranEdit = { 
              }; "
          class="inline-flex items-center justify-center rounded-md bg-primary px-10 py-2 text-center font-medium text-white hover:bg-opacity-90 lg:px-8 xl:px-10">
          Tambahan
      </button>
    </div>
  </div>
    <div class="grid grid-cols-6 border-t border-stroke px-4 py-4.5 dark:border-strokedark sm:grid-cols-8 md:px-6 2xl:px-7.5">
      <div class="col-span-2 hidden items-center sm:flex">
        <p class="font-medium">Nama</p>
      </div>
      <div class="col-span-1 hidden items-center sm:flex">
        <p class="font-medium">Jumlah</p>
      </div>
      <div class="col-span-1 hidden items-center sm:flex">
        <p class="font-medium">( Real Jumlah )</p>
      </div>
      <div class="col-span-1 hidden items-center sm:flex">
        <p class="font-medium">Harga</p>
      </div>
      <div class="col-span-1 hidden items-center sm:flex">
        <p class="font-medium">( Real Harga )</p>
      </div>
      <div class="col-span-1 hidden items-center sm:flex">
        <p class="font-medium">Satuan</p>
      </div>

    </div>
    {% for a in anggaran %}
      <div class="grid grid-cols-6 border-t border-stroke px-4 py-4.5 dark:border-strokedark sm:grid-cols-8 md:px-6 2xl:px-7.5">
        <div class="col-span-2 flex items-center">
          <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
            <p class="text-sm font-medium text-black dark:text-white">
              {{ a.nama }}
            </p>
          </div>
        </div>
        <div class="col-span-1 flex items-center">
          <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
            {% if a.tambahan %}
              <p class="text-sm font-medium text-black dark:text-white">( Tambahan )</p>
            {% else %}
              <p class="text-sm font-medium text-black dark:text-white">{{ a.qty }}</p>
            {% endif %}
          </div>
        </div>
        <div class="col-span-1 flex items-center">
            <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
              {% if a.real_harga %}
                <p class="text-sm font-bold text-success dark:text-white">{{ a.real_qty }}</p>
              {% else %}
                <p class="text-sm font-medium text-danger dark:text-white">Belum Diinput</p>
              {% endif %}
            </div>
          </div>
        <div class="col-span-1 flex items-center">
            <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
              {% if a.tambahan %}
                <p class="text-sm font-medium text-black dark:text-white">( Tambahan )</p>
              {% else %}
                <p class="text-sm font-medium text-black dark:text-white">{{ a.harga }}</p>
              {% endif %}
            </div>
        </div>
        <div class="col-span-1 flex items-center">
            <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
              {% if a.real_harga %}
                <p class="text-sm font-bold text-success dark:text-white">{{ a.real_harga }}</p>
              {% else %}
                <p class="text-sm font-medium text-danger dark:text-white">Belum Diinput</p>
              {% endif %}
            </div>
        </div>
        <div class="col-span-1 flex items-center">
            <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
                <p class="text-sm font-medium text-black dark:text-white">{{ a.satuan }}</p>
            </div>
        </div>
        <div class="flex gap-5">
          <button x-on:click="
              formUrl = '{% url "anggaran.realisasi" LPJID a.id %}?menu=realPengeluaran'; 
              formBtn = 'Save'; 
              isModalOpen = true; 
              modalTitle = 
              {% if a.real_qty and a.real_harga %}
                  'Edit Realisasi Acara'
              {% else %}
                  'Add Realisasi Acara'
              {% endif %}
              ; 
              realisasiPengeluaranEdit = { 
                  real_qty: '{{ a.real_qty }}',
                  real_harga: '{{ a.real_harga }}',
              }; "
          >
            {% if a.real_qty and a.real_harga %}
              <i class="fa-solid fa-pen"></i>
            {% else %}
              <i class="fa-solid fa-plus"></i>
            {% endif %}
          </button>
        </div>
      </div>
    {% endfor %}
  {% include "lpj/partials/real_pengeluaran_modal.html" %}
</div>