{% extends "modal/lg_modal.html" %}

{% block formContent %}
    <div class="grid grid-cols-2 gap-5">
        <div>
            {{ form.nama.label }} {{ form.nama }}
            <!--  -->
            {{ form.ormawa.label }} {{ form.ormawa }}
            <!--  -->
            {{ form.periode.label }} {{ form.periode }}
            <!--  -->
            {% include "kepengurusan/partials/field_search.html" with formInput=form.ketua xFieldName="ketua" %}
            <!--  -->
            {% include "kepengurusan/partials/field_search.html" with formInput=form.sekretaris xFieldName="sekretaris" %}

        </div>
        <div>
            {% include "kepengurusan/partials/field_search.html" with formInput=form.npp_wr xFieldName="npp_wr" %}
            <!--  -->
            {% include "kepengurusan/partials/field_search.html" with formInput=form.npp_pembina xFieldName="npp_pembina" %}
            <!--  -->
            {% include "kepengurusan/partials/field_search.html" with formInput=form.or_koord xFieldName="or_koord" %}
            <!--  -->          
            {{ form.jabatan_koord.label }} {{ form.jabatan_koord }}
        </div>
    </div>

{% endblock formContent %}
