<div>
    {{ formInput.label }}
    <div
        x-show="nameResult.{{ xFieldName }}.display"
        class="text-sm font-bold text-success"
    >
        (
        <span x-text="nameResult.{{ xFieldName }}.value"></span>
        )
    </div>
    {{ formInput }}
    <div
        x-show="displayResult.{{ xFieldName }}"
        class="w-full rounded-lg border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary"
    >
        <template x-for="(item, index) in results" :key="index">
        <div
            @click.prevent="selectResult(index, '{{ xFieldName }}')"
        >
            <span x-text="item.code"></span> -
            <span x-text="item.nama"></span>
        </div>
        </template>
    </div>
</div>