{% extends "modal/lg_modal.html" %}

{% block formContent %}
  <div class="lg:grid grid-cols-2 gap-5">
    <div>
      {{ form.nomor.label }} {{ form.nomor }}
      <!--  -->
      {{ form.nama.label }} {{ form.nama }}
      <!--  -->
      {{ form.tema.label }} {{ form.tema }}
      <!--  -->
      {{ form.tempat.label }} {{ form.tempat }}
      <div class="grid md:grid-cols-2 gap-5">
        <div>{{ form.tgl_mulai.label }} {{ form.tgl_mulai }}</div>
        <div>{{ form.tgl_selesai.label }} {{ form.tgl_selesai }}</div>
      </div>
    </div>
    
    <div>
      {% include "kegiatan/partials/field_search.html" with formInput=form.mhs_pj xFieldName="mhs_pj" %}
      <!--  -->
      {% include "kegiatan/partials/field_search.html" with formInput=form.mhs_koord xFieldName="mhs_koord" %}
      <!--  -->
      {{ form.max_peserta.label }} {{ form.max_peserta }}
      <!--  -->
      {{ form.rencana_anggaran.label }} {{ form.rencana_anggaran }}
    </div>
  </div>
{% endblock formContent %}
        