{% extends "dashboard/layout.html" %}
<!-- x -->
{% block content %}
  <!-- x -->
  {% include "dashboard/broadcrumb.html" with title="Ormawa" %}
  <div x-data="{ 'isModalOpen': false, ormawaEdit: {}, modalTitle: '', formUrl: '', formBtn: '', }"
       x-on:keydown.escape="isModalOpen = false"
       class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
    <div x-data="ormawaFilter">
      <div class="px-4 py-6 md:px-6 xl:px-7.5 flex justify-between">
        <div>
          <input type="text"
                 placeholder="Search"
                 x-model="input_filter"
                 class="w-1/4 rounded-lg border-[1.5px] border-stroke bg-transparent px-5 py-2 font-normal text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary" />
          <a href="#"
             class="inline-flex items-center justify-center rounded-md border border-primary px-10 py-2 text-center font-medium text-primary hover:bg-opacity-90 lg:px-8 xl:px-10">
            Filter
          </a>
        </div>
        <div>
          <button id="modalOpen"
                  x-on:click=" formUrl = '{% url "ormawa.create" %}'; formBtn = 'Create'; isModalOpen = true; modalTitle = 'Create Ormawa'; ormawaEdit = { nama: '', singkatan: '', deskripsi: '', jenis: '', status: '', }; "
                  class="inline-flex items-center justify-center rounded-md bg-primary px-10 py-2 text-center font-medium text-white hover:bg-opacity-90 lg:px-8 xl:px-10">
            Create
          </button>
        </div>
      </div>
      <div class="grid grid-cols-6 border-t border-stroke px-4 py-4.5 dark:border-strokedark sm:grid-cols-8 md:px-6 2xl:px-7.5">
        <div class="col-span-2 flex items-center">
          <p class="font-medium">Singkatan</p>
        </div>
        <div class="col-span-3 hidden items-center sm:flex">
          <p class="font-medium">Nama</p>
        </div>
        <div class="col-span-1 hidden items-center sm:flex">
          <p class="font-medium">Jenis</p>
        </div>
        <div class="col-span-1 flex items-center">
          <p class="font-medium">Status</p>
        </div>
      </div>
      {% for o in ormawa %}
        <div class="grid grid-cols-6 border-t border-stroke px-4 py-4.5 dark:border-strokedark sm:grid-cols-8 md:px-6 2xl:px-7.5">
          <div class="col-span-2 flex items-center">
            <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
              <p class="text-sm font-medium text-black dark:text-white">{{ o.singkatan }}</p>
            </div>
          </div>
          <div class="col-span-3 hidden items-center sm:flex">
            <p class="text-sm font-medium text-black dark:text-white">{{ o.nama }}</p>
          </div>
          <div class="col-span-1 flex items-center">
            <p class="text-sm font-medium text-black dark:text-white">{{ o.level }}</p>
          </div>
          <div class="col-span-1 flex items-center">
            <p class="text-sm font-medium text-black dark:text-white">{{ o.status }}</p>
          </div>
          <div class="col-span-1 flex gap-5">
            <button x-on:click="
                    formUrl = '{% url "ormawa.edit" o.id %}'; 
                    formBtn = 'Save'; 
                    isModalOpen = true; 
                    modalTitle = 'Edit Ormawa'; 
                    ormawaEdit = { 
                      nama: '{{ o.nama }}', 
                      singkatan: '{{ o.singkatan }}', 
                      deskripsi: `{{ o.deskripsi }}`,
                      level: '{{ o.level.id }}', 
                      status: '{{ o.status }}', 
                    }; ">
              <i class="fa-solid fa-pen"></i>
            </button>
            <form action="{% url 'ormawa.delete' o.id %}" method="post">
              {% csrf_token %}
              <button type="submit">
                <i class="fa-solid fa-trash"></i>
              </button>
            </form>
          </div>
        </div>
      {% endfor %}
    </div>
  <!-- -->
  {% include "ormawa/partials/ormawa_modal.html" %}
</div>
<script>
  

  function ormawaEdit() {
    return {
      isModalOpen: false,
      editedProduct: {},

      openModalEdit(product) {
        this.isModalOpen = true;
        this.editedProduct = { ...product }; // Copy the product to avoid modifying the original
      },
    };
  }

  document.addEventListener('alpine:init', () => {
    Alpine.data('ormawaFilter', () => ({
      input_filter: '',

      filter_ormawa: [  
        {% for o in ormawa %}
        {singkatan: '{{o.singkatan}}', nama: '{{o.nama}}', level: '{{o.level.nama}}', status: '{{o.status}}'}
        {% if not forloop.last %},{% endif %}
        {% endfor %}
      ],
    
      getFilter() {
        if(this.input_filter != ''){
          return this.filter_ormawa.filter(filter_ormawa => filter_ormawa.nama.toLowerCase().includes(this.input_filter.toLowerCase()))
        }
        return this.filter_ormawa
      },

    }))
  })
</script>
{% endblock content %}
