<div class="grid grid-cols-6 border-t border-stroke px-4 py-4.5 dark:border-strokedark sm:grid-cols-8 md:px-6 2xl:px-7.5">
    <div class="col-span-4 flex items-center">
      <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
        <a
          href="#" 
          class="text-sm font-medium text-black dark:text-white"
          @click.prevent="
              formUrl = '#'; 
              formBtn = 'Close'; 
              isModalOpen = true; 
              modalTitle = 'Isi Usulan'; 
              kegiatanEdit = { 
                  nomor: '{{ k.nomor }}',
                  nama: '{{ k.nama }}',
                  tema: '{{ k.tema }}',
                  tgl_mulai: '{{ k.tgl_mulai|date:"Y-m-d" }}',
                  tgl_selesai: '{{ k.tgl_selesai|date:"Y-m-d" }}',
                  mhs_pj: `{{ k.mhs_pj }}`,
                  mhs_koord: `{{ k.mhs_koord }}`,
                  tempat: `{{ k.tempat }}`,
                  max_peserta: `{{ k.max_peserta }}`,
                  rencana_anggaran: `{{ k.rencana_anggaran }}`
              }; 
              nameResult= {
                mhs_pj: {
                  display: true,
                  value: '{{ k.mhs_pj.nama }}'
                },
                mhs_koord: {
                  display: true,
                  value: '{{ k.mhs_koord.nama }}'
                },
              };
              "
        >
          {{ k.nama }}
        </a>
      </div>
    </div>
    <div class="col-span-1 flex items-center">
      <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
        <p class="text-sm font-medium text-black dark:text-white">{{ k.tgl_mulai }}</p>
      </div>
    </div>
    <div class="col-span-1 flex items-center">
      <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
        <p class="text-sm font-medium text-black">{{ k.tgl_selesai }}</p>
      </div>
    </div>
    <div class="col-span-1 flex items-center">
      {% if k.status == "Usulan Valid" %}
        <div class="inline-flex items-center justify-center rounded-full border border-success px-5 py-1 text-center font-bold text-success hover:bg-opacity-90 mx-auto">
          <p class="text-sm">{{ k.status }}</p>
        </div>
      {% elif k.status == "Usulan" %}
        <div class="inline-flex items-center justify-center rounded-full border border-success px-5 py-1 text-center font-bold text-success hover:bg-opacity-90 mx-auto">
          <p class="text-sm">{{ k.status }}</p>
        </div>
      {% else %}
        <div class="inline-flex items-center justify-center rounded-full border border-success px-5 py-1 text-center font-bold text-success hover:bg-opacity-90 mx-auto">
          <p class="text-sm">Usulan Valid</p>
        </div>
      {% endif %}
    </div>
    <div class="flex gap-5 col-span-1 mx-auto">
      <form action="{% url 'kegiatan.verify' k.id %}" method="post"> 
        {% csrf_token %}

        {% if k.status == "Usulan" %}
          <button class="bg-success px-2 py-1 text-white rounded-md">
            <i class="fa-solid fa-check"></i>
            Verifikasi
          </button>
        {% elif k.status == "Usulan Valid" %}
          <button class="bg-danger px-2 py-1 text-white rounded-md">
            <i class="fa-solid fa-x"></i>
            Batal Verifikasi
          </button>
        {% endif %}
      </form>
    </div>
  </div>