<div
    class="grid grid-cols-6 border-t border-stroke px-4 py-4.5 dark:border-strokedark sm:grid-cols-8 md:px-6 2xl:px-7.5"
>
    <div class="col-span-5 flex items-center">
    <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
        <p class="text-sm font-medium text-black dark:text-white">
        {{ k.nama }}
        </p>
    </div>
    </div>
    <div class="col-span-1 flex items-center">
    <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
        <p class="text-sm font-medium text-black dark:text-white">
        {{ k.tgl_mulai }}
        </p>
    </div>
    </div>
    <div class="col-span-1 flex items-center">
    <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
        <p class="text-sm font-medium text-black dark:text-white">
        {{ k.tgl_selesai }}
        </p>
    </div>
    </div>
    <div class="col-span-1 flex items-center mx-auto">
    <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
        <div>
        <a
            href="{% url 'proposal.print' k.id %}"
            class="bg-danger px-2 py-1 text-white rounded-md"
        >
            <i class="fa-solid fa-check"></i>
            Download
        </a>
        </div>
    </div>
    </div>
</div>