{% load formatter_tags %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <style>
    @page {
      margin-top: 4.5cm;

      @top-left {
        content: element(header);
        height: max-content;
        text-align: center;
        width: 100%;
        display: block;
      }

      @top-center {
        background: #0f4c92;
        content: "";
        display: block;
        height: 0.05cm;
        opacity: 0.5;
        width: 100%;
      }

      @bottom-left {
        content: counter(page);
        text-align: center;
        display: block;
      }

      @bottom-center {
        content: element(footerCenter);
        text-align: center;
        display: block;
      }

      @bottom-right {
        content: element(footerRight);
        text-align: center;
        display: block;
      }
    }
    @page :blank {
      @top-left {
        background: none;
        content: "";
      }
      @top-center {
        content: none;
      }
      @top-right {
        content: none;
      }
    }
    @page no-chapter {
      @top-left {
        background: none;
        content: none;
      }
      @top-center {
        content: none;
      }
      @top-right {
        content: none;
      }
    }
    @page chapter {
      background: #fbc847;
      margin: 0;
      @top-left {
        content: none;
      }
      @top-center {
        content: none;
      }
      @top-right {
        content: none;
      }
    }

    header {
      position: running(header);
      line-height: 0;
      font-size: 13px;
      display: flex;
      align-items: center;
    }

    .header-left {
      flex: 1;
    }

    .header-right {
      flex: 0;
      justify-content: center;
    }

    footer .footer-center {
      position: running(footerCenter);
      text-align: center;
      font-size: x-small;
      font-style: italic;
    }

    footer .footer-right {
      position: running(footerRight);
    }

    .footer-right img {
      width: 100px;
    }

    body {
      font-family: Arial, Helvetica, sans-serif;
    }

    p {
      font-size: smaller;
    }

    .info {
      font-size: smaller;
    }

    .cover {
      text-align: center;
    }

    img {
      margin-top: 2.5cm;
      margin-bottom: 2.5cm;
      width: 200px;
    }

    section {
      page-break-after: always;
    }

    .grid-container {
      display: grid;
      grid-template-columns: auto auto auto;
      gap: 10px;
      padding: 10px;
    }

    .grid-container {
      display: grid;
      grid-template-columns: auto auto;
    }
    .grid-item {
      text-align: center;
    }

    table {
      width: 100%;
    }

    .table-border,
    .table-border th,
    .table-border td {
      border: 1px solid;
      border-collapse: collapse;
    }

    .header-right img {
      width: 100px;
      height: 100px;
      margin-top: auto;
      margin-bottom: auto;
    }

  </style>
  <body>
    <header>
      <div class="header-left">
        <h4>BIRO FAKULTAS</h4>
        <h4>{{ kegiatan.ormawa.singkatan }}</h4>
        <p>
          Gedung D lt 1 Universitas Dian Nuswantoro Jl. Nakula I No. 5 - 11
          Semarang
        </p>
        <p>085866042336</p>
        <p>www.twitter.com/doscomedia</p>
        <p>http://www.doscom.org</p>
        <h4>FAKULTAS ILMU KOMPUTER</h4>
        <h4>UNIVERSITAS DIAN NUSWANTORO SEMARANG</h4>
      </div>
      <div class="header-right">
        <img src="{% static 'img/logo_udinus_transparent.png' %}" alt="" srcset="" />
      </div>
    </header>
    <footer>
      <div class="footer-center">
        <p>
          Printed on: 2024-05-04,20:55:50 WIB | Generated by PSI UDINUS 2024
        </p>
      </div>
      <div class="footer-right">
        {% if verified %}
        <img src="{% static 'img/logo_udinus.png' %}" alt="" />
        {% endif %}
      </div>
    </footer>
    <section class="cover">
      <div>
        <h1>PROPOSAL KEGIATAN</h1>
        <h1>Nomor FIK 09.04</h1>
        <h1>{{ kegiatan.nama }}</h1>
      </div>
      <div class="img-cover">
        <img
          src="{{ full_url }}{{ kegiatan.ormawa.foto }}"
          alt=""
        />
      </div>
      <div>
        <h1>{{ kegiatan.ormawa.singkatan }}</h1>
        <h1>UNIVERSITAS DIAN NUSWANTORO</h1>
        <h1>SEMARANG</h1>
        <h1>TAHUN AJARAN 2015-2016</h1>
      </div>
    </section>

    <section>
      <div style="text-align: center; border: none">
        <h2>Halaman Persetujuan Kegiatan</h2>
      </div>

      <div>
        <table class="info">
          <tr>
            <td style="width: 25%">Nama Kegiatan</td>
            <td>: {{ kegiatan.nama }}</td>
          </tr>
          <tr>
            <td>Nomor Kegiatan</td>
            <td>: {{ kegiatan.nomor }}</td>
          </tr>
          <tr>
            <td>Tema Kegiatan</td>
            <td>: {{ kegiatan.tema }}</td>
          </tr>
          <tr>
            <td>Tanggal Kegiatan</td>
            <td>: {{ kegiatan.tgl_mulai }} - {{ kegiatan.tgl_selesai }}</td>
          </tr>
          <tr>
            <td>Pelaksanaan Kegiatan</td>
            <td>: {{ kegiatan.ormawa.singkatan }}</td>
          </tr>
          <tr>
            <td>Jenis</td>
            <td>: Proposal</td>
          </tr>
        </table>
      </div>

      <div style="float: right">
        <p>Semarang, 4 Mei 2024</p>
      </div>
      <br />
      <br />
      <p style="text-align: center">Mengetahui,</p>
      <div class="grid-container">
        <div class="grid-item">
          <p>Ketua Doscom</p>
          <br />
          <br />
          <p>{{ kegiatan.kepengurusan.ketua.nama }}</p>
          <p>NIM : {{ kegiatan.kepengurusan.ketua.nim }}</p>
        </div>
        <div class="grid-item">
          <p>Ketua Acara</p>
          <br />
          <br />
          <p>{{ kegiatan.mhs_koord.nama }}</p>
          <p>NIM : {{ kegiatan.mhs_koord.nama }}</p>
        </div>
        <div class="grid-item">
          <p>Pendamping</p>
          <br />
          <br />
          <p>{{ kegiatan.kepengurusan.npp_pembina.nama }}</p>
          <p>NPP : {{ kegiatan.kepengurusan.npp_pembina.npp }}</p>
        </div>
        <div class="grid-item">
          <p>{{ kegiatan.kepengurusan.jabatan_koord }}</p>
          <br />
          <br />
          <p>{{ kegiatan.kepengurusan.or_koord.nama }}</p>
          <p>NIM : {{ kegiatan.kepengurusan.or_koord.nim }}</p>
        </div>
      </div>
      <br />
      <p style="text-align: center">Menyetujui,</p>
      <div style="text-align: center">
        <p>Dekan Fakultas Ilmu Komputer</p>
        <br />
        <br />
        <p>{{ kegiatan.kepengurusan.npp_wr.nama }}</p>
        <p>NPP : {{ kegiatan.kepengurusan.npp_wr.npp }}</p>
      </div>
    </section>

    <section>
      <h2>I. NOMOR DAN NAMA KEGIATAN</h2>
      <div class="content">
        <table class="info">
          <tr>
            <td style="width: 25%">Nama Kegiatan</td>
            <td>: {{ kegiatan.nama }}</td>
          </tr>
          <tr>
            <td>Nomor Kegiatan</td>
            <td>: {{ kegiatan.nomor }}</td>
          </tr>
          <tr>
            <td>Tema Kegiatan</td>
            <td>: {{ kegiatan.tema }}</td>
          </tr>
          <tr>
            <td>Tanggal Kegiatan</td>
            <td>: {{ kegiatan.tgl_mulai }} - {{ kegiatan.tgl_selesai }}</td>
          </tr>
          <tr>
            <td>Pelaksanaan Kegiatan</td>
            <td>: {{ kegiatan.ormawa.singkatan }}</td>
          </tr>
        </table>
      </div>

      <h2>II. VISI DAN MISI</h2>
      <div class="content">
        <p>VISI</p>
        <p>{{ kegiatan.ormawa.visi }}</p>
        <p>MISI</p>
        <p>{{ kegiatan.ormawa.misi }}</p>
      </div>
      <h2>III. LATAR BELAKANG</h2>
      <div class="content">
        <p>{{ kegiatan.latar_belakang }}</p>
      </div>
      <h2>IV. DASAR PENYELENGGARAAN</h2>
      <div class="content">
        <p>{{ kegiatan.dasar }}</p>
      </div>
      <h2>V. MAKSUD DAN TUJUAN</h2>
      <div class="content">
        <p>{{ kegiatan.maksud_tujuan }}</p>
      </div>
      <h2>VI. WAKTU DAN TEMPAT</h2>
      <div class="content">
        <table class="table-border">
          <thead>
            <tr>
              <th>Tanggal</th>
              <th>Waktu</th>
              <th>Nama Acara</th>
              <th>Seksi</th>
            </tr>
          </thead>
          <tbody>
            {% for key, valueList in acara_perhari.items %}
              <tr>
                <td>{{ key }}</td>
                <td>
                  {{ valueList.0.waktuMulai }} - {{ valueList.0.waktuSelesai}}
                </td>
                <td>{{ valueList.0.nama }}</td>
                <td>{{ valueList.0.seksi }}</td>
              </tr>
              {% for item in valueList|slice:"1:" %}
                <tr>
                  <td></td>
                  <td>
                    {{ item.waktuMulai }} - {{ item.waktuSelesai}}
                  </td>
                  <td>{{ item.nama }}</td>
                  <td>{{ item.seksi }}</td>
                </tr>
              {% endfor %} 
            {% endfor %}
          </tbody>
        </table>
      </div>
      <h2>VII. PENYELENGGARA</h2>
      <div class="content">
        <table class="info">
          <tr>
            <td style="width: 25%">Pelindung</td>
            <td>
              <div style="display: flex; justify-content: space-between; width: 100%;">
                <div>: {{  kegiatan.kepengurusan.npp_wr.nama }}</div>
                <div>({{  kegiatan.kepengurusan.npp_wr.npp }})</div>
              </div>            
            </td>
          </tr>
          <tr>
            <td>Pendamping</td>
            <td>
              <div style="display: flex; justify-content: space-between; width: 100%;">
                <div>: {{  kegiatan.kepengurusan.npp_pembina.nama }}</div>
                <div>({{  kegiatan.kepengurusan.npp_pembina.npp }})</div>
              </div>            
            </td>
          </tr>
          <tr>
            <td>Penanggung Jawab</td>
            <td>
              <div style="display: flex; justify-content: space-between; width: 100%;">
                <div>: {{  kegiatan.mhs_pj.nama }}</div>
                <div>({{  kegiatan.mhs_pj.nim }})</div>
              </div>
            </td>

          </tr>
          <tr>
            <td>Ketua Pelaksana</td>
            <td>
              <div style="display: flex; justify-content: space-between; width: 100%;">
                <div>: {{ kegiatan.mhs_koord.nama }}</div>
                <div>({{ kegiatan.mhs_koord.nim }})</div>
              </div>
            </td>
          </tr>
          <tr>
            <td>Sekretaris</td>
            <td>  
              <div style="display: flex; justify-content: space-between; width: 100%;">
                <div>: {{ kegiatan.kepengurusan.sekretaris.nama }}</div>
                <div>({{ kegiatan.kepengurusan.sekretaris.nim }})</div>
              </div>
            </td>
          </tr>
          {% for s in seksi %}
          <tr>
            <td>{{ s.nama }}</td>
            <td>
              {% for p in s.panitia.all %} 
                <div style="display: flex; justify-content: space-between; width: 100%;">
                  <div>: {{ p.mahasiswa.nama }}</div>
                  <div>({{ p.mahasiswa.nim }})</div>
                </div>
              {% endfor %}
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
      <h2>VIII. ANGGARAN DANA</h2>
      <div class="content">
        <p>Terlampir</p>
      </div>
      <h2>IX. PENUTUP</h2>
      <div class="content">
        <p>{{ kegiatan.penutup }}</p>
      </div>
    </section>

    <section>
      <h2 style="text-align: center">Rincian Anggaran Dana</h2>
      <table class="table-border" border="1">
        <thead>
          <tr>
            <td colspan="2" style="font-weight: bold; text-align: center">
              PEMASUKAN
            </td>
          </tr>
          <tr style="font-weight: bold; text-align: center">
            <td style="text-align: start">Sumber Dana</td>
            <td>Jumlah Dana</td>
          </tr>
        </thead>
        <tbody>
          {% for pem in pemasukan %}
          <tr>
            <td>{{ pem.sumber_dana }}</td>
            <td style="text-align: right">
              {{ pem.total_dana|format_number }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot style="font-weight: bold">
          <td>Total Pemasukan</td>
          <td style="text-align: right">{{ totalPemasukan|format_number }}</td>
        </tfoot>
      </table>
      <br />
      <table class="table-border" border="1">
        <thead>
          <tr>
            <td colspan="5" style="font-weight: bold; text-align: center">
              PENGELUARAN
            </td>
          </tr>
          <tr style="text-align: center; font-weight: bold">
            <td style="width: 53%; text-align: start">Nama Seksi/Item</td>
            <td style="width: 5%">Quantity</td>
            <td style="width: 2%">X</td>
            <td style="width: 20%">Harga</td>
            <td style="width: 20%">Jumlah</td>
          </tr>
        </thead>
        <tbody>
          {% for ang in anggaran %}
          <tr>
            <td>{{ ang.nama }}</td>
            <td style="text-align: center">{{ ang.qty }}</td>
            <td style="text-align: center">X</td>
            <td style="text-align: right">{{ ang.harga|format_number }}</td>
            <td style="text-align: right">{{ ang.total|format_number }}</td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot style="font-weight: bold">
          <td colspan="4">Total Pemasukan</td>
          <td style="text-align: right">{{ totalAnggaran|format_number }}</td>
        </tfoot>
      </table>
    </section>
  </body>
</html>
