{% extends "modal/sm_modal.html" %}

{% block formContent %}
    {{ form.nama.label }} {{ form.nama }}
    <div class="grid grid-cols-2 gap-4">
        <div class="col-span">
            {{ form.waktu_mulai.label }} {{ form.waktu_mulai }}
        </div>
        <div class="col-span">
            {{ form.waktu_selesai.label }} {{ form.waktu_selesai }}
        </div>
    </div>
    {{ form.seksi.label }} {{ form.seksi }}
{% endblock formContent %}