{% extends "modal/sm_modal.html" %}

{% block formContent %}
    {{ form.seksi.label }} {{ form.seksi }}
    <!--  -->
    {{ form.nama.label }} {{ form.nama }}
    <div class="grid grid-cols-4 gap-4">
    <div class="col-span">{{ form.qty.label }} {{ form.qty }}</div>
    <div class="col-span-2">
        {{ form.harga.label }}
        <div
        x-data="{ isOptionSelected: false }"
        class="relative z-20 bg-white dark:bg-form-input"
        >
        <span class="absolute left-4 top-1/2 z-30 -translate-y-1/2">
            Rp.
        </span>
        {{ form.harga }}
        </div>
    </div>
    <div class="col-span">
        {{ form.satuan.label }} {{ form.satuan }}
    </div>
    </div>
{% endblock formContent %}