{% extends "dashboard/layout.html" %}
{% load group_tags %}
<!---->
{% block content %}
  <!---->
  {% include "dashboard/broadcrumb.html" with title="Duta Kampus" %}
  <div x-data="{ 
            'isModalOpen': false, 
            kegiatanEdit: {}, 
            modalTitle: '', 
            formUrl: '', 
            formBtn: '', 
            results: [],
            displayResult: {
              mhs_pj: false,
              mhs_koord: false,
              ormawa: false,
            },
  
            nameResult: {
              mhs_pj: {
                display: false,
                value: ''
              },
              mhs_koord: {
                display: false,
                value: ''
              },
              ormawa: {
                display: false,
                value: ''
              },
            },
            
            liveSearch(type, field) {
              csrfToken = '{{ csrf_token }}'
              fetch(`/api/${type}/search`, {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                  'X-CSRFToken': csrfToken
                },
                body: JSON.stringify({
                    data: {
                      query: this.kegiatanEdit[field],
                    }
                })
              })
              .then(response => {
                  if (!response.ok) {
                      throw new Error('Network response was not ok');
                  }
                  return response.json();
              })
              .then(data => {
                  this.nameResult[field].display = false;
                  console.log(data);
                  this.results = data;
                  for (key in this.displayResult) {
                    if (key === field) {
                      this.displayResult[key] = true;
                    } else {
                      this.displayResult[key] = false;
                    }
                  }                
              })
              .catch(error => {
                  console.error('Fetch error:', error);
                  for (key in this.displayResult) {
                    this.displayResult[key] = false;
                  }
              });
            },
            ormawaLiveSearch(type, field) {
              csrfToken = '{{ csrf_token }}'
              fetch(`/dashboard/master-data/api/ormawa/search`, {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                  'X-CSRFToken': csrfToken
                },
                body: JSON.stringify({
                    data: {
                      query: this.kegiatanEdit[field],
                    }
                })
              })
              .then(response => {
                  if (!response.ok) {
                      throw new Error('Network response was not ok');
                  }
                  return response.json();
              })
              .then(data => {
                  this.nameResult[field].display = false;
                  console.log(data);
                  this.results = data;
                  for (key in this.displayResult) {
                    if (key === field) {
                      this.displayResult[key] = true;
                    } else {
                      this.displayResult[key] = false;
                    }
                  }                
              })
              .catch(error => {
                  console.error('Fetch error:', error);
                  for (key in this.displayResult) {
                    this.displayResult[key] = false;
                  }
              });
            },
  
            selectResult(id, field) {
              if (field == 'ormawa') {
                this.kegiatanEdit[field] = `${this.results[id].code} - ${this.results[id].nama}`;
                this.displayResult[field] = false;
              } 
              else {
                this.kegiatanEdit[field] = this.results[id].code;
                this.displayResult[field] = false;
                this.nameResult[field].display = true;
                this.nameResult[field].value = this.results[id].nama;
              }
            }
          }"
       class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
    {% if request.user|has_group:"ADMIN KEMAHASISWAAN" %}
      <div class="px-4 py-6 md:px-6 xl:px-7.5 flex justify-between">
        <div>
          <button id="modalOpen"
                  x-on:click="
                      formUrl = '{% url "dutaKampus.create" %}'; 
                      formBtn = 'Create'; 
                      isModalOpen = true; 
                      modalTitle = 'Create Duta Kampus'; 
                      kegiatanEdit = { 
                        nama: '',
                        tgL_mulai: '', 
                        tgL_selesai: '', 
                        deskripsi: '', 
                      }; "
                  class="inline-flex items-center justify-center rounded-md bg-primary px-10 py-2 text-center font-medium text-white hover:bg-opacity-90 lg:px-8 xl:px-10">
            Create
          </button>
        </div>
      </div>
    {% endif %}

    <div class="grid grid-cols-6 border-t border-stroke px-4 py-4.5 dark:border-strokedark sm:grid-cols-8 md:px-6 2xl:px-7.5">
      <div class="col-span-2 hidden items-center sm:flex">
        <p class="font-medium">Nama</p>
      </div>
      <div class="col-span-2 hidden items-center sm:flex">
        <p class="font-medium">Tgl Mulai</p>
      </div>
      <div class="col-span-2 hidden items-center sm:flex">
        <p class="font-medium">Tgl Selesai</p>
      </div>
      <div class="col-span-1 hidden items-center sm:flex">
        <p class="font-medium">Status</p>
      </div>
    </div>
    {% for k in kegiatan %}
    <div class="grid grid-cols-6 border-t border-stroke px-4 py-4.5 dark:border-strokedark sm:grid-cols-8 md:px-6 2xl:px-7.5">
        <div class="col-span-2 flex items-center">
          <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
            <p class="text-sm font-medium text-black dark:text-white">{{ k.nama }}</p>
          </div>
        </div>
        <div class="col-span-2 flex items-center">
          <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
            <p class="text-sm font-medium text-black dark:text-white">{{ k.tgl_mulai }}</p>
          </div>
        </div>
        <div class="col-span-2 flex items-center">
          <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
            <p class="text-sm font-medium text-black dark:text-white">{{ k.tgl_selesai }}</p>
          </div>
        </div>
        <div class="col-span-1 flex items-center">
          <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
            {% if k.status == "Usulan Valid" %}
              <div class="inline-flex items-center justify-center rounded-full border border-success px-5 py-1 text-center font-bold text-success hover:bg-opacity-90 mx-auto">
                <p class="text-sm">{{ k.status }}</p>
              </div>
            {% elif k.status == "Usulan" %}
              <div class="inline-flex items-center justify-center rounded-full border border-success px-5 py-1 text-center font-bold text-success hover:bg-opacity-90 mx-auto">
                <p class="text-sm">{{ k.status }}</p>
              </div>
            {% else %}
              <div class="inline-flex items-center justify-center rounded-full border border-success px-5 py-1 text-center font-bold text-success hover:bg-opacity-90 mx-auto">
                <p class="text-sm">Usulan Valid</p>
              </div>
            {% endif %}
          </div>
        </div>
        <div class="flex gap-5">
          {% if k.status == "" or k.status == "Usulan" %}
          <button x-on:click="
                formUrl = '{% url "kegiatan.edit" k.id %}'; 
                formBtn = 'Save'; 
                isModalOpen = true; 
                modalTitle = 'Edit RKT'; 
                kegiatanEdit = { 
                    nomor: '{{ k.nomor }}',
                    nama: '{{ k.nama }}',
                    tema: '{{ k.tema }}',
                    tgl_mulai: '{{ k.tgl_mulai|date:"Y-m-d" }}',
                    tgl_selesai: '{{ k.tgl_selesai|date:"Y-m-d" }}',
                    mhs_pj: `{{ k.mhs_pj }}`,
                    mhs_koord: `{{ k.mhs_koord }}`,
                    tempat: `{{ k.tempat }}`,
                    max_peserta: `{{ k.max_peserta }}`,
                    rencana_anggaran: `{{ k.rencana_anggaran }}`
                }; 
                nameResult= {
                  mhs_pj: {
                    display: true,
                    value: '{{ k.mhs_pj.nama }}'
                  },
                  mhs_koord: {
                    display: true,
                    value: '{{ k.mhs_koord.nama }}'
                  },
                };
                "
            >
            <i class="fa-solid fa-pen"></i>
          </button>
          <form action="{% url 'kegiatan.delete' k.id %}" method="post">
            {% csrf_token %}
            <button type="submit">
              <i class="fa-solid fa-trash"></i>
            </button>
          </form>
        {% elif k.status == "Usulan Valid" %}
          <a href="{% url 'proposal.show' k.id %}" class="bg-primary px-2 py-1 text-white rounded-md">
            <i class="fa-solid fa-plus"></i>
            Proposal
          </a>
        {% elif k.status == "Proposal" %}
          <a href="{% url 'proposal.show' k.id %}" class="bg-primary px-2 py-1 text-white rounded-md">
            <i class="fa-solid fa-pen"></i>
            Proposal
          </a>
        {% elif k.status == "Proposal Valid" %}
          <a href="{% url 'lpj.show' k.id %}" class="bg-primary px-2 py-1 text-white rounded-md">
            <i class="fa-solid fa-plus"></i>
            LPJ
          </a>
        {% elif k.status == "LPJ" %}
          <a href="{% url 'lpj.show' k.id %}" class="bg-primary px-2 py-1 text-white rounded-md">
            <i class="fa-solid fa-pen"></i>
            LPJ
          </a>
        {% elif k.status == "LPJ Valid" %}
          <a href="{% url 'lpj.show' k.id %}" class="bg-primary px-2 py-1 text-white rounded-md">
            <i class="fa-solid fa-document"></i>
            LPJ
          </a>
        {% endif %}
        </div>
    </div>
    {% endfor %}
    {% include "kegiatan/partials/duta_kampus_modal.html" %}
  </div>
{% endblock content %}
