{% extends "dashboard/layout.html" %}
{% load group_tags %}
<!---->
{% block content %}
  <!---->
  {% include "dashboard/broadcrumb.html" with title="RKT" %}
  <div x-data="{ 
            'isModalOpen': false, 
            kegiatanEdit: {}, 
            modalTitle: '', 
            formUrl: '', 
            formBtn: '', 
            results: [],
            displayResult: {
              mhs_pj: false,
              mhs_koord: false,
            },
  
            nameResult: {
              mhs_pj: {
                display: false,
                value: ''
              },
              mhs_koord: {
                display: false,
                value: ''
              },
            },
            
            liveSearch(type, field) {
              csrfToken = '{{ csrf_token }}'
              fetch(`/api/${type}/search`, {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                  'X-CSRFToken': csrfToken
                },
                body: JSON.stringify({
                    data: {
                      query: this.kegiatanEdit[field],
                    }
                })
              })
              .then(response => {
                  if (!response.ok) {
                      throw new Error('Network response was not ok');
                  }
                  return response.json();
              })
              .then(data => {
                  this.nameResult[field].display = false;
                  console.log(data);
                  this.results = data;
                  for (key in this.displayResult) {
                    if (key === field) {
                      this.displayResult[key] = true;
                    } else {
                      this.displayResult[key] = false;
                    }
                  }                
              })
              .catch(error => {
                  console.error('Fetch error:', error);
                  for (key in this.displayResult) {
                    this.displayResult[key] = false;
                  }
              });
            },
  
            selectResult(id, field) {
              this.kegiatanEdit[field] = this.results[id].code;
              this.displayResult[field] = false;
              this.nameResult[field].display = true;
              this.nameResult[field].value = this.results[id].nama;
            }
          }"
       class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
    {% if request.user|has_group:"ADMIN ORMAWA" %}
      <div class="px-4 py-6 md:px-6 xl:px-7.5 flex justify-between">
        <div>
          <button id="modalOpen"
                  x-on:click="
                      formUrl = '{% url "kegiatan.create" %}'; 
                      formBtn = 'Create'; 
                      isModalOpen = true; 
                      modalTitle = 'Create RKT'; 
                      kegiatanEdit = { 
                      };
                      nameResult = {
                        mhs_pj: {
                          display: false,
                          value: ''
                        },
                        mhs_koord: {
                          display: false,
                          value: ''
                        },
                      }; 
                      "
                  class="inline-flex items-center justify-center rounded-md bg-primary px-10 py-2 text-center font-medium text-white hover:bg-opacity-90 lg:px-8 xl:px-10">
            Create
          </button>
        </div>
      </div>
    {% endif %}
    <div class="grid grid-cols-6 border-t border-stroke px-4 py-4.5 dark:border-strokedark sm:grid-cols-8 md:px-6 2xl:px-7.5">
      <div class="col-span-4 hidden items-center sm:flex">
        <p class="font-medium">Nama</p>
      </div>
      <div class="col-span-1 hidden items-center sm:flex">
        <p class="font-medium">Tgl Mulai</p>
      </div>
      <div class="col-span-1 hidden items-center sm:flex">
        <p class="font-medium">Tgl Selesai</p>
      </div>
      <div class="col-span-1 hidden items-center sm:flex text-center">
        <p class="font-medium mx-auto">Status</p>
      </div>
      <div class="col-span-1 hidden items-center sm:flex">
        <p class="font-medium mx-auto">Action</p>
      </div>
    </div>
    {% for k in kegiatan %}
      {% if request.user|has_group:"ADMIN ORMAWA" %}
        {% include 'kegiatan/partials/admin_ormawa/kegiatan_list.html' %}
      {% elif request.user|has_group:"ADMIN KEMAHASISWAAN" %}
        {% include 'kegiatan/partials/admin_kemahasiswaan/kegiatan_list.html' %}
      {% endif %}
    {% endfor %}
    {% include "kegiatan/partials/rkt_modal.html" %}
  </div>
{% endblock content %}
